<link href="app/css/regbilling.css" rel="stylesheet">
<style>
    .form-horizontal .form-group {
        height: 72px;
    }

    .token-num input {
        border-radius: 103px;
        width: 46px;
        height: 46px !important;
        text-align: center;
        font-size: 13px;
        color: #2196f3;
    }

    .filters button {
        width: 40px;
    }

    div#orderlisttb table thead tr th {
        background: #EFEFEF;
        border: 1px solid #D9D9D9;
        color: #000;
        padding: 3px;
        font-size: 13px;
        font-weight: 400;
    }
</style>
<div class="row">
    <div class="drhms-filters">
        <div class="col-sm-8">
            <react-component name="PrivilegeCardRegScreen" props="{ part: 'title', reactProps: reactProps, onAction: handleReactAction }"></react-component>
        </div>
        <div class="col-sm-4">
            <div class="filters">
                <div class="search">
                    <patientsearch id="drhms-patinet-search-box" ng-keyup="moveHeaderFocus('pid')" patientid="item.PatientId" class="logo" name="txtpatientsearch" patientinfo="selectedPatient" patientchange="patientChange()" aria-placeholder="Patient Search" tabindex="tabindexmap.patienttabindex"
                        isdisabled="{{SaveCompleted}}" filterconfig="patientfilterconfig"></patientsearch>
                    <div class="drhms-search-icon"><i class="fas fa-search" aria-hidden="true"></i></div>
                </div>
                <react-component name="PrivilegeCardRegScreen" props="{ part: 'addbutton', reactProps: reactProps, onAction: handleReactAction }"></react-component>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12">
    <patientbanner patientid="item.PatientId"></patientbanner>
</div>

<div class="row">
    <react-component name="PrivilegeCardRegScreen" props="{ part: 'form', reactProps: reactProps, onAction: handleReactAction }"></react-component>
    <!-- Native Google-Places address autocomplete, kept as a shared/generic
         framework directive (out of scope to reimplement). Moved to trail
         the reactified field grid rather than sit inline mid-grid as in the
         original -- a minor, documented DOM-order change; its ng-click
         (enablegoogleaddopt) and ng-disabled (disablegoogleaddopt) targets
         are both undefined on this controller, so the checkbox toggles its
         own state but never actually enables/disables the text input,
         exactly as in the original. -->
    <div class="col-lg-12">
        <div class="form-group col-sm-3">
            <label class="col-sm-12 control-label">Location</label>
            <div class="col-sm-10">
                <input type="text" id="googleaddopt" ng-disabled="disablegoogleaddopt" class="form-control" gm-places-autocomplete="autocompleteOptions" ng-model="autocompleteModel" />
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1">
                <input type="checkbox" name="googleaddressoption" class="custom-checkbox" ng-click="enablegoogleaddopt()" ng-model="chkgoogleaddopt">
            </div>
        </div>
    </div>
</div>
<react-component name="PrivilegeCardRegScreen" props="{ part: 'cardtable', reactProps: reactProps, onAction: handleReactAction }"></react-component>

<react-component name="PrivilegeCardRegScreen" props="{ part: 'footer', reactProps: reactProps, onAction: handleReactAction }"></react-component>
