<style>
    .modal-lg {
        width: 89%;
    }

    .toprighttext1 .dropdown-menu {
        top: -116px !important;
        left: 15px !important;
    }

    .toprighttext2 .dropdown-menu {
        top: -109px !important;
        left: 15px !important;
        height: 110px;
    }

    .appointmentdetails-div {
        padding-top: 5px;
    }

    .toprighttextremark .dropdown-menu {
        top: -129px !important;
        left: 15px !important;
        height: 130px;
    }


    table>tbody>tr>td {
        vertical-align: initial !important;
    }

    .custom-popup-wrapper>.table>thead>tr>td:nth-child(3) {
        width: 32% !important;
    }



    .custom-popup-wrapper>table>tbody>tr:nth-child(even) {
        background-color: #fff;
    }

    .table-condensed>thead>tr>td {
        padding: 1px 10px;
        white-space: nowrap;
    }


    .modal-content .fooder-bg {
        position: inherit !important;
        bottom: 0;
        right: 1px;
        min-width: 100% !important;
        left: -3px !important;
        margin-top: -2px;
        margin-left: 1px;
    }

    .nav>li.disabled>a:hover,
    .nav>li.disabled>a:focus {
        color: #000000 !important;
        text-decoration: none;
        background-color: #3c5a76;
        cursor: not-allowed;
    }

    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:hover {
        color: #000000 !important;
        border-bottom-color: #fff;
        background-color: #3c5a76 !important;
    }

    .nav-tabs>li>a {
        padding: 4px 15px;
    }

    ul.nav.nav-tabs {
        background: #ccc;
        border: 1px solid #ccc;
    }

    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:hover {
        border: 1px solid #ccc;
    }

    fieldset.fsStyle {
        margin: 0px;
    }

    .referrallist table {
        left: -330px;
        min-height: 128px;
        height: 22vh;
        min-width: 42vw;
    }

    .custom-modal-header {
        margin-bottom: 0px !important;
    }

    /* .typeahead-demo .custom-popup-wrapper>.dropdown-menu thead tr td {
        background: linear-gradient(to bottom, rgba(30, 87, 153, 1) 0, rgba(41, 137, 216, 1) 44%, rgba(32, 124, 202, 1) 46%, rgba(125, 185, 232, 1) 100%) !important;
        border-radius: unset;
    } */

    /* .typeahead-demo .custom-popup-wrapper>.dropdown-menu tbody tr td {
        border-radius: unset;
    } */

    .modal-dialog.modal-lg .fooder-bg.col-sm-12 {
        position: inherit !important;
    }

    .modal-dialog.modal-full .table-uigrid.ui-grid .ui-grid-viewport {
        height: 108px !important;
    }
</style>
<div id="Appointmentctrls">
    <div class="appt-root-div">
        <div class="col-sm-12 custom-modal-header">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="sr-only col-sm-5 col-md-4 control-label filter-lbl"
                        translate="appointment.appointment-form.patientnamesearch.lbl"></label>
                    <div class="col-sm-7 col-md-8">
                        <patientsearch patientid="item.PatientId" patientinfo="selectedPatient"
                            filterconfig="patientfilterconfig" tabindex="-1" patientchange="patientChange()"
                            candisable="canDisablePatientSearch()"></patientsearch>
                    </div>
                </div>
            </div>
            <react-component name="AppointmentFormTopBar" props="{ reactProps: reactProps, onAction: handleReactAction }"></react-component>
        </div>

        <div class="">
            <patientbanner patientid="item.PatientId"></patientbanner>
            <br>
            <div class="col-sm-12 bg-pattern">
                <div class="col-sm-8">
                    <div class="row">
                        <uib-tabset active="active">
                            <uib-tab index="$index" ng-repeat="tab in tabs" heading="{{tab.title}}"
                                ng-click="switchTab(tab)" disable="tab.canDisable">
                            </uib-tab>
                        </uib-tabset>
                    </div>
                    <div class="row">
                        <div class=" appt-form-div">
                            <form id="item_form" name="item_form" class="form-horizontal" role="form">
                                <div class=" formRoot" style="height:428px !important">
                                    <!-- Patient info -->
                                    <fieldset class="fsStyle well" ng-disabled="canDisablePatientDiv()">
                                        <legend class="legendStyle">
                                            <span translate="appointment.appointment-form.pnlpatientinfo.lbl"></span>
                                        </legend>
                                        <react-component name="AppointmentFormPatientPanel" props="{ reactProps: reactProps, onAction: handleReactAction }"></react-component>
                                    </fieldset>

                                    <!-- Appointment info -->
                                    <fieldset class="fsStyle well" ng-disabled="canDisableAppointmentDiv()">
                                        <legend class="legendStyle">
                                            <span
                                                translate="appointment.appointment-form.pnlappointmentinfo.lbl"></span>
                                        </legend>
                                        <div class="col-sm-12">

                                            <!-- leftpanel -->
                                            <div class="col-sm-6">
                                                <react-component name="AppointmentFormApptTop" props="{ reactProps: reactProps, onAction: handleReactAction }"></react-component>
                                                <div class="form-group" ng-show="canShowPhysicianArea()">
                                                    <label class="col-sm-4 control-label" for="consultant"
                                                        translate="appointment.appointment-form.consultant.lbl"></label>
                                                    <div class="col-sm-8 toprighttext2">
                                                        <autosearch itemid="item.DoctorId"
                                                            iteminfo="vm.doctorcontrolconfig.iteminfo" rowdata=""
                                                            config="vm.doctorcontrolconfig"
                                                            itemchange="onDoctorSelected($select.selected)"
                                                            tabindex="-1"></autosearch>
                                                    </div>
                                                </div>
                                                <react-component name="AppointmentFormResourceRow" props="{ reactProps: reactProps, onAction: handleReactAction }" ng-show="canShowResourceArea()"></react-component>
                                                <react-component name="AppointmentFormForceBooking" props="{ reactProps: reactProps, onAction: handleReactAction }"></react-component>
                                            </div>

                                            <!-- rightpanel -->
                                            <div class="col-sm-6">
                                                <react-component name="AppointmentFormTimeDisplay" props="{ reactProps: reactProps, onAction: handleReactAction }"></react-component>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label" for="referral"
                                                        translate="appointment.appointment-form.referral.lbl"></label>
                                                    <div class="col-sm-6 referrallist">
                                                        <autosearch itemid="item.ReferralId"
                                                            ng-change="referralChange($select.selected)"
                                                            ng-disabled="canDisableAppointmentDiv()" iteminfo=""
                                                            rowdata="" config="vm.referralcontrolconfig"
                                                            itemchange="getReferral($select.selected)"></autosearch>
                                                        <!-- <ui-select ng-model="item.ReferralId" name="referral" ng-change="referralChange($select.selected)" ng-disabled="canDisableAppointmentDiv()">
                                                            <ui-select-match>
                                                                {{$select.selected.Text | limitTo : 20 : 0}}
                                                                <span ng-if="$select.selected.Text.length>20">...</span>
                                                            </ui-select-match>
                                                            <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.Referral | filter: { Text: $select.search }">
                                                                <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                                                            </ui-select-choices>
                                                        </ui-select> -->
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <button type="button" class="btn btn-success btn-xs"
                                                            ng-click="addReferral()" uib-tooltip="More"
                                                            tooltip-placement="top">
                                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <react-component name="AppointmentFormApptBottom" props="{ reactProps: reactProps, onAction: handleReactAction }"></react-component>
                                            </div>
                                        </div>
                                    </fieldset>

                                    <!-- Div visible in checked in status -->
                                    <fieldset class="fsStyle well" ng-show="canShowAssignPanel()">
                                        <legend class="legendStyle">
                                            <span translate="appointment.appointment-form.pnlassignto.lbl"></span>
                                        </legend>
                                        <react-component name="AppointmentFormAssignPanel" props="{ reactProps: reactProps, onAction: handleReactAction }"></react-component>
                                    </fieldset>

                                    <fieldset class="fsStyle well" ng-disabled="canDisableRemarksDiv()">
                                        <react-component name="AppointmentFormRemarksPanel" props="{ reactProps: reactProps, onAction: handleReactAction }"></react-component>
                                    </fieldset>

                                <react-component name="AppointmentFormCancelledRemarks" props="{ reactProps: reactProps, onAction: handleReactAction }" ng-show="item.AppointmentStatusId==5"></react-component>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class=" calendar-parent">
                        <jqx-scheduler jqx-settings="settings" id="scheduler" tabindex="10"></jqx-scheduler>
                    </div>
                </div>
            </div>
            <react-component name="AppointmentFormFooter" props="{ reactProps: reactProps, onAction: handleReactAction }"></react-component>
        </div>
    </div>
</div>