<!--
  React bridge migration (single mount). Replaces the <uib-tabset> tab
  header only -- see BillDiscountTabScreen.tsx for the active-highlight
  logic (compares tab.state to $state.current.name, refreshed on
  $stateChangeSuccess, added to billdiscounttab.js). The native
  <div ui-view class="tabview"> stays untouched below, rendering
  whichever of opbilldiscount.html / pharmacybilldiscount.html is
  active.
-->
<link rel="stylesheet" href="app/css/drhms.css">
<style>
    patientsearch.logo .custom-popup-wrapper {
        margin-left: -308px;
    }
</style>
<div class="page-header-list">
    <h4 class="header-name-litle" translate="Bill Discount/Write Off"></h4>
</div>

<div id="receipt_tab">
    <div class="row">
        <div class="col-sm-12">
            <react-component name="BillDiscountTabScreen" props="{ reactProps: reactProps, onAction: handleReactAction }"></react-component>
            <div ui-view class="tabview"></div>
        </div>
    </div>
</div>
