<div class="row page-header">
    <h4 translate="appointment.doctordashboard.pagetitle9.lbl"></h4>
</div>
<div class="col-sm-12" style="margin-top: 20px;">
    <div class="card-flex-box-billing">
        <div class="card-box-item box-bg-color1" ng-click="registration()" ng-if="HasAccess('BillingDashboard', 'QuickRegistration')">
            <div class="card-box-header"><i class="fa fa-registered" aria-hidden="true"></i>
                <div translate="appointment.doctordashboard.registrations.lbl"></div>
            </div>
            <div>{{Items.registration}}</div>
        </div>
        <div class="card-box-item box-bg-color2" ng-if="HasAccess('BillingDashboard', 'Billing_OPPatients')" ng-click="opbilling()">
            <div class="card-box-header">
                <div> <i class="fa fa-user" aria-hidden="true"></i></div>
                <div translate="appointment.doctordashboard.opbillings.lbl"></div>
            </div>
            <div>{{Items.opbilling}}</div>
        </div>
        <div class="card-box-item box-bg-color3" ng-if="HasAccess('BillingDashboard', 'Billing_DirectBilling')" ng-click="directbilling()">
            <div class="card-box-header">
                <div><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                <div translate="appointment.doctordashboard.directbilling.lbl"></div>
            </div>
            <div>{{Items.directbilling}}</div>
        </div>
        <div class="card-box-item box-bg-color4" ng-if="HasAccess('BillingDashboard', 'Billing_LabBilling')" ng-click="labbilling()">
            <div class="card-box-header">
                <div> <i class="fa fa-usd" aria-hidden="true"></i></div>
                <div translate="LAB/Radiology/Others"></div>
                <!-- <div translate="appointment.doctordashboard.labbilling.lbl"></div> -->
            </div>
            <div>{{Items.labbilling}}</div>
        </div>
        <div class="card-box-item box-bg-color5" ng-if="HasAccess('BillingDashboard', 'billing_CurrentIpBilling')" ng-click="ipbilling()">
            <div class="card-box-header">
                <div><i class="fa fa-list" aria-hidden="true"></i></div>
                <div translate="appointment.doctordashboard.ipbilling.lbl"></div>
            </div>
            <div>{{Items.ipbilling}}</div>
        </div>
        <div class="card-box-item box-bg-color6" ng-if="HasAccess('BillingDashboard', 'Discharged_IP_Billing')" ng-click="dischargesipbilling()">
            <div class="card-box-header">
                <div><i class="fa fa-inr" aria-hidden="true"></i></div>
                <div translate="appointment.doctordashboard.dischargesipbilling.lbl"></div>
            </div>
            <div>{{Items.dischargesipbilling}}</div>
        </div>
        <div class="card-box-item box-bg-color7" ng-if="HasAccess('BillingDashboard', 'Billing_Admissions')" ng-click="admissions()">
            <div class="card-box-header">
                <div><i class="fa fa-percent" aria-hidden="true"></i></div>
                <div translate="appointment.doctordashboard.admissions.lbl"></div>
            </div>
            <div>{{Items.admission}}</div>
        </div>
        <div class="card-box-item box-bg-color8" ng-if="HasAccess('BillingDashboard', 'Billing_CurrentIPPatients')" ng-click="ippatients()">
            <div class="card-box-header">
                <div><i class="fa fa-briefcase" aria-hidden="true"></i></div>
                <div translate="appointment.doctordashboard.ippatient.lbl"></div>
            </div>
            <div>{{Items.ippatients}}</div>
        </div>
        <div class="card-box-item box-bg-color9" ng-if="HasAccess('BillingDashboard', 'BillingReports')" ng-click="billingreports()">
            <div class="card-box-header">
                <div><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                <div translate="appointment.doctordashboard.reports.lbl"></div>
            </div>
            <div>{{Items.reports}}</div>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="col-sm-6">
        <table id="bannerdetails" style="margin-top: 20px;background: #5d9cec;color: #fff;">
            <tr>
                <td translate="appointment.doctordashboard.admission.lbl">
                </td>
            </tr>
        </table>
        <table id="bannerdetails">
            <tr ng-repeat="item in LatAdmsnData">
                <td><strong>{{item.patientname}} | (
                        {{item.Patient.MRN}} )</strong> | {{item.Patient.Age}}Years |{{item.VisitIdentifier}} - {{item.doctorname}} | {{item.warddetails}}</td>
            </tr>

        </table>
    </div>
    <div class="col-sm-6">
        <table id="bannerdetails" style="margin-top: 20px;background: #5d9cec;color: #fff;">
            <tr>
                <td translate="appointment.doctordashboard.discharge.lbl"> </td>
            </tr>
        </table>
        <table id="bannerdetails">
            <tr ng-repeat="item in LatDiscrgData">
                <td><strong>{{item.patientname}} | (
                        {{item.Patient.MRN}} )</strong> | {{item.Patient.Age}}Years |{{item.VisitIdentifier}} - {{item.doctorname}} | {{item.warddetails}}</td>
            </tr>

        </table>
    </div>
</div>
<div class="col-sm-12">
    <div class="col-sm-6">
        <table id="bannerdetails" style="margin-top: 20px;background: #5d9cec;color: #fff;">
            <tr>
                <td translate="appointment.doctordashboard.beds.lbl">
                    </label>
                </td>
            </tr>
        </table>
        <table id="bannerdetails">
            <tr ng-repeat="item in LatavailbedData">
                <td>{{item.availablebedinfo}}</td>
            </tr>


        </table>
    </div>
    <div class="col-sm-6">
        <table id="bannerdetails" style="margin-top: 20px;background: #5d9cec;color: #fff;">
            <tr>
                <td translate="appointment.doctordashboard.discharge_clearence.lbl"></td>
            </tr>
        </table>
        <table id="bannerdetails">
            <tr ng-repeat="item in LatDisclrData">
                <td><strong>{{item.patientname}} | (
                        {{item.Patient.MRN}} )</strong>| {{item.Patient.Age}}Years |{{item.VisitIdentifier}}- {{item.doctorname}} | {{item.warddetails}}</td>
            </tr>

        </table>
    </div>
    <div class="col-sm-6">
        <table id="bannerdetails" style="margin-top: 20px;background: #5d9cec;color: #fff;">
            <tr>
                <td translate="Occupancy Summary"></td>
            </tr>
        </table>
        <table id="bannerdetails">
            <tr>
                <td>Total Admissions</td>
                <td>{{Items.TotalAdmissionCount}}</td>
            </tr>
            <tr>
                <td>Today Admitted</td>
                <td>{{Items.AdmittedCount}}</td>
            </tr>
            <tr>
                <td>Total FitforDischarges</td>
                <td>{{Items.FitforDischargeCount}}</td>
            </tr>
            <tr>
                <td>Total ClinicalDischarges</td>
                <td>{{Items.ClinicalDischargeCount}}</td>
            </tr>
            <tr>
                <td>Total FinancialDischarges</td>
                <td>{{Items.FinancialDischargeCount}}</td>
            </tr>
            <tr>
                <td>Today Discharges</td>
                <td>{{Items.DischargeCount}}</td>
            </tr>
            <tr>
                <td>Total Occupancy</td>
                <td>{{Items.TotalOccupancyCount}}</td>
            </tr>
        </table>
    </div>
</div>
<div class="fooder-bgs">
</div>