<link href="app/css/dgbilling.css" rel="stylesheet">
<style>
    .container {
        position: relative;
        width: 100%;
        margin-top: 4px
    }

    .container:after,
    .container:before {
        content: " ";
        display: table
    }

    .fontsize {
        font-size: 16px;
        font-weight: 600;
        padding: 0 7px
    }

    .bgfoot .btn-sm,
    .btn-group-sm>.btn {
        padding: 0 6px;
        font-size: 10px;
        line-height: 1.5;
        border-radius: 3px
    }

    .bgfoot .topright .dropdown-menu {
        top: -67px !important;
        left: 15px !important
    }

    .toprighttext .dropdown-menu {
        top: -54px !important;
        left: 15px !important;
        max-height: 150px
    }

    .padding-top1 {
        padding-top: 1px
    }

    .page-header h4 {
        padding-top: 0;
        height: 7px
    }

    .padding-top1 .col-sm-4 {
        padding-left: 2px;
        padding-right: 2px
    }

    .custom-popup-wrapper>.table>thead>tr>td:nth-child(3) {
        width: 17% !important
    }

    #opbillingcontrol .table-control {
        /* height: 565px!important;*/
        overflow: auto
    }

    .form-group patientsearch.logo {
        background: url(app/img/patterns-bg/search.png) 102.2% center no-repeat #fff;
        background-size: 8.7% !important;
        z-index: 777777
    }

    .bgfoot #textboxctrlmaster .ui-select-match-text {
        width: 100% !important;
        overflow: hidden;
        text-overflow: ellipsis
    }

    #discountdrp>.ui-select-container>.dropdown-menu {
        top: 27px !important;
    }



    #opbillingcontrol .formRoot {

        overflow-x: hidden;
    }

    table#opbillingfooter tr td {
        height: 40px;
        padding: 10px;
    }

    table#opbillingfooter {
        width: 100% !important;
    }

    #opbillingfooter tr td:nth-child(odd) {
        color: #076dad !important;
    }

    .bgfoot {
        background-image: none;
        background-size: cover;
        background-size: contain;
        overflow: auto;
        margin: 0;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    @media (device-width: 100vw) and (device-height: 100vh) {
        #opbillingcontrol .formRoot {
            height: 350px;
        }
    }

    .filter-area {
        background-image: none !important;
    }

    .canceleditem {
        background-color: #f07d7d;
    }

    .card .title {
        font-size: 47px;
    }

    .billreceived_amt {
        float: left;
        width: 100%;
        background: #1a1a9cf5;
        color: #fff;
        margin-top: 20px;
        margin-bottom: 2px;
    }



    .billbalance_amt {
        float: left;
        width: 100%;
        background: #e4143bf7;
        color: #fff;
    }


    .billdue_amt {
        float: left;
        width: 100%;
        background: slateblue;
        color: #fff;
    }

    .card {
        border-left: 6px solid deepskyblue;
        padding-bottom: 0px;
    }

    .card h1 {
        width: 280px;
        height: 62px;
        border-left-width: 0px;
        padding-top: 30px;
        padding-bottom: 0px;
        padding-left: 6px;
    }

    .card .title {
        margin-top: 10px;
        margin-bottom: 2.5px;
    }

    .card p {
        color: #fff;
        background: slateblue;
    }



    @media (device-width:100vw) and (device-height:100vh) {
        #opbillingcontrol .formRoot {
            /* height: 360px !important; */
        }

        #opbillingcontrol .table-control {
            /* height: 570px !important; */
        }

        #opbillingcontrol .formRoot {
            min-height: 47vh !important;
            height: 47vh !important;
        }
    }



    .manual_bill {
        color: #fff;
        cursor: pointer;
    }

    #opbillingcontrol .formRoot {
        min-height: 28vh;
        height: 28vh;
    }

    /* .bg-pattern{
        height:43vh;
        min-height:43vh;
    } */

    .table-control {
        height: 100%;
        min-height: 100%;
    }

    #print .dropdown-menu {
        top: initial;
        margin-bottom: 6px;
        bottom: 100%;
        background-color: #1e7d9a !important;
        left: -41px;
        min-width: 160px;
    }

    #print .dropdown-menu>li {
        border-bottom: 1px solid #fff;
    }

    #print .dropdown-menu>li>a {
        color: #000000 !important;
    }

    .icon_lisboard {
        width: 10%;
        float: right;
    }

    .row.page-header.mt1 button {
        margin: auto 3px !important;
    }

    input#pid {
        height: 40px !important;
        /* width: 156%; */
    }

    .billingbanner table {
        border-collapse: collapse;
        border: 1px solid #164360;
    }

    .billingbanner table th,
    .billingbanner table td {
        border: 1px solid #164360;
        padding: 0px 9px;
    }

    .billingbanner table,
    #bannerdetails {
        table-layout: fixed;
        width: 100%;
    }

    .billingbanner table td,
    #bannerdetails tr td {
        background: white !important;
    }

    /* div#opbillingcontrol span {
        margin: auto !important;

    } */

    table#opbillingfooter td {
        background: white !important;
    }

    .autosearch-div>input {
        background: #ff00001c !important;
    }

    input#pid {
        height: 40px !important;
        background: #ff000014;
    }

    table th {
        min-width: 10px;
        /* background-color: #65c4ca !important; */
        color: #101010 !important;
        font-size: 13px;
        text-align: center !important;
        border: 1px solid #4fd444 !important;
    }

    .billingbanner table tr td,
    #bannerdetails tr td {
        height: 40px;
        PADDING: 5px 10px !important;
    }

    #bannerdetails tr td div.dropdown {
        PADDING: 5px 10px;
    }

    .billingbanner tr td:nth-child(odd) {
        color: #076dad !important;
        background: #7cb6c15e !important;
        font-weight: 600;
    }

    #bannerdetails tr td:nth-child(odd) {
        background: #a0bfd44f !important;
        color: #076dad !important;
    }

    #mainresponsivetablecontrol .table>tbody {
        background-color: #ffffff !important;
        box-shadow: 1px 1px 16px -3px rgba(0, 0, 0, .75);
    }

    #mainresponsivetablecontrol .bg-subhead,
    .ui-grid-header-viewport {
        background: #164360;
    }

    div#mainresponsivetablecontrol {
        border-bottom: 2px solid #01748b !important;
        margin-bottom: 20px !important;
        border: 1px solid #01748b;
        box-shadow: 0 0 8px 2px #868382;
    }

    div#mainresponsivetablecontrol table tbody tr td {
        padding: 0px 10px !important;
    }

    div#mainresponsivetablecontrol table tbody tr td input {
        border-radius: 0px !important;
        height: 30px !important;
        /* margin: -6px; */
        border-color: #80808054;
        /* width: 100% !important; */
    }

    div#mainresponsivetablecontrol table tbody tr td {
        /* text-align: center !important; */
    }

    table#bannerdetails+.col-sm-12 {
        padding: 0px !important;
    }

    .footerbars input {
        height: 40px !important;
        border-radius: 0px !important;
    }

    .footerbars span.btn.btn-default.form-control.ui-select-toggle {
        border-radius: 0px !important;
    }

    .footerbars label.col-sm-12.control-label.ng-scope {
        text-align: left;

    }

    div#mainresponsivetablecontrol {
        min-height: 280px;
    }

    /* .fooder-bgs {
        margin-bottom: 91px;
        position: relative;
        clear: both;
        height: 85px;
        margin-top: 20px;
    } */

    .wrapper>section {
        position: relative;
        z-index: 111;
        background-color: #ffffff !important;
        margin-bottom: 0 !important;
    }

    /* .fooder-bgs {
        margin-bottom: 91px;
        position: relative;
        clear: both;
        height: 25px;
        margin-top: 20px;
    } */

    @media (min-width: 768px) {
        .col-sm-3 {
            width: 25% !important;
        }
    }

    .billingbanner table tr td,
    #bannerdetails tr td {
        height: 40px;
        PADDING: 0px 10px;
        word-break: break-all;
    }

    /* .page-header {
        margin: 15px 0 3px !important;
    } */

    div#mainresponsivetablecontrol table tbody tr td input {
        border-radius: 0px !important;
        height: 40px !important;
        margin-bottom: 10px !important;
    }

    button.cancelbtn {
        background-color: #dc242c !important;
        background-color: #dc242c !important;
        color: white;
        border: 0px;
        border-radius: 7px;
        height: 37px;
        padding: 10px 12px !important;
    }

    #mainresponsivetablecontrol>.table>tbody>tr:nth-child(1)>td>autosearch>.autosearch-div>.custom-popup-wrapper>.dropdown-menu {
        margin-top: 0px !important;
        min-height: 60px;
        max-height: 130px;
        background-color: #f5f9ee;
        border: 1px solid #ccc;
        left: 1px;
        width: 100% !important;
    }

    .red {
        color: #ff0000;
        font-size: 18px;
        font-weight: 600;
        margin-top: 0px;
        margin-bottom: 29px;
    }
    /* table.table.table-bordered.table-condensed.dropdown-menu {
    width: 30% !important;
    overflow: scroll;
    margin-right: 253px;
    overflow-x: hidden;
} */
.form-group {
    margin-bottom: 16px;
}
</style>
<!--
UI-MODERNIZATION RETROFIT (Billing / Consolidate Payment, app.consolidatepayment,
consolidatepaymentController). Uses the LHRC-Voucher-style hybrid bridge pattern:
the real <form id="item_form" name="item_form"> and the real, unmodified
<patientsearch> widget stay native (confirmed via a full read of both the
531-line controller and this 716-line template: this screen
calls utl.Validator.validate($scope) in saveAndApprove(), so its item_form must
stay real). Three <react-component> mounts replace the BillType/Load/Find/Clear
bar, the custom-table grid, and the payment-detail footer + totals table + action
bar -- with hidden native mirror inputs (below) preserving every required/pattern
validator that used to live on the now-React-rendered payment fields, so
item_form.$valid keeps computing exactly as before. AngularJS
(consolidatepayment.js) remains authoritative for every real API call
(billing/PatientBills/GetPatientBills, billing/PatientBills/ConsolidatePayment),
Security PIN modal (utl.Modal.open('app.securitypincheck', ...)), and dot-matrix
print data preparation; React only renders reactProps and dispatches action names
via handleReactAction.

CONFIRMED MAJOR PRE-EXISTING DEFECT, reproduced exactly, NOT fixed (out of scope
per this migration's standing rule against fixing unrelated pre-existing issues):
the real grid was switched from ui-grid (now commented out below the surviving
<custom-table> mount) to the shared <custom-table> component, but <custom-table>
(public/js/custom-table.html, customTableController in public/js/app.js) has NO
row-selection/checkbox support at all -- it never calls the vm.gridConfig.onRegisterApi
callback, so $scope.gridApi is permanently undefined. saveAndApprove()'s
getSelectionRows() (-> $scope.gridApi.selection.getSelectedRows()) therefore
throws an uncaught TypeError EVERY time it runs, immediately after
utl.Validator.validate($scope) passes -- meaning the entire "select bills and
consolidate payment" save workflow is non-functional in production today,
independent of this migration. selectionChangedCal() (the function that would
accumulate item.Discount/BillAmount/OutStandingAmt/Received as rows are
checked/unchecked) is consequently unreachable dead code, since there is no
checkbox column anywhere in vm.gridConfig.columnDefs or the custom-table
template to ever trigger it. The footer totals (Discount/Total/Round Off/Due
Amount/Grand Amount/Received) therefore always display their static ₹0.00
defaults and can never change via the UI. This is reproduced faithfully below:
no selection checkboxes are rendered, and saveAndApprove dispatches straight
to the real, unmodified $scope.saveAndApprove(), which will throw the same way
it does today.

Also confirmed dead: the "Print" button's ng-click="print()" has no matching
$scope.print anywhere in this controller (throws silently, same class of bug as
the selection issue above); the "DM Print" button and $scope.dmPrint()/
preparePrintData() are entirely unreachable (their button is HTML-commented
out); and the facility-setting-driven jQuery button-hide in
getPharmacyPrintPreference() is a proven no-op for the visible Print button
because $scope.printpreferences is hardcoded to 1 at controller init and never
reassigned by that function (only $scope.dmprintpreferences is, via a further
copy-paste bug where its first assignment is immediately overwritten by a
second, unrelated facility-setting read) -- so the Print button is always shown
regardless of facility settings, which is reproduced by mirroring the same
`printpreferences <= 0` gate rather than assuming a fixed visible/hidden state.
-->
<div id="opbillingcontrol">
    <div class="row page-header mt1">
        <h4 class="page-header pdl15" translate="billing.consolidate.pagetitle.lbl"></h4>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form id="item_form" name="item_form" class="form-horizontal" role="form">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="col-sm-4 control-label" translate="admissionrequest.patient.lbl"></label>
                        <div class="col-sm-8">
                            <patientsearch patientid="currentfilter.PatientId" class="" name="txtpatientsearch" patientinfo="selectedPatient"
                                tabindex="tabindexmap.patienttabindex" filterconfig="patientfilterconfig" required></patientsearch>
                        </div>
                    </div>
                    <react-component name="BillingConsolidatePaymentFilterScreen" props="{ reactProps: reactProps, onAction: handleReactAction }"></react-component>
                </div>
                <div class=" table-control bill_consolidate">
                    <react-component name="BillingConsolidatePaymentGridScreen" props="{ reactProps: reactProps, onAction: handleReactAction }"></react-component>

                    <!-- Hidden native validation mirrors for the payment-detail fields now
                         rendered by BillingConsolidatePaymentFooterScreen -- preserves the
                         real required/ng-pattern validators inside item_form exactly as
                         they existed before this migration, bound to the same item.* model
                         paths the bridge already writes to. -->
                    <div style="display:none" aria-hidden="true">
                        <input type="text" name="paymenttype" ng-model="item.PaymentTypeId" required>
                        <input type="text" name="bankname" ng-model="item.BankId" required ng-if="item.PaymentTypeId != 1">
                        <input type="text" name="chequeno" ng-model="item.ChequeNo" required ng-if="item.PaymentTypeId==2">
                        <input type="text" name="ddno" ng-model="item.DDNumber" required ng-pattern="/^\d+$/" ng-if="item.PaymentTypeId==3">
                        <input type="text" name="transationno" ng-model="item.WireTransferId" required ng-if="item.PaymentTypeId==4">
                        <input type="text" name="cardno" ng-model="item.AuthorizedCode" maxlength="8" required ng-if="item.PaymentTypeId==5||item.PaymentTypeId==6">
                        <input type="text" name="terminalno" ng-model="item.TerminalNoId" required ng-if="item.PaymentTypeId==5||item.PaymentTypeId==6">
                        <input type="text" name="cardtype" ng-model="item.CardTypeId" required ng-if="item.PaymentTypeId==5||item.PaymentTypeId==6">
                    </div>

                    <div class="footerbars">
                        <div class="sub-footer">
                            <div class=" bgfoot " style="overflow: unset !important;">
                                <react-component name="BillingConsolidatePaymentFooterScreen" props="{ reactProps: reactProps, onAction: handleReactAction }"></react-component>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="fooder-bgs">
    <div class="col-sm-12">
        <div class="pull-left">
            <!--<button class="btn btn-sm pyr-color10" ng-click="backToForm()"><i class="fa fa-angle-left"></i>&nbsp;&nbsp;<span translate="common.backaction.lbl"></span></button>-->
        </div>
        <div class="pull-right ">
            <react-component name="BillingConsolidatePaymentActionsScreen" props="{ reactProps: reactProps, onAction: handleReactAction }"></react-component>
        </div>
    </div>
</div>
