<link href="app/css/dashboard.css" rel="stylesheet">
<style>
    .table.table-bordered tbody tr {
        border-bottom: 1px solid #d9d9d9;
    }

    .table.table-bordered tbody tr td {
        border: unset !important;
    }
</style>
<div class="row page-header second_nav">
    <h4 class="col-sm-12 mt0" translate="appointment.doctordashboard.pagetitle4.lbl"></h4>
</div>
<div class="col-sm-12" style="margin-top: 20px;">
    <div class="card-flex-box-doctor">
        <div class="card-box-item box-bg-color1" ng-if="HasAccess('LabDashboard', 'OrderAcceptances')"
            ng-click="acceptances()">
            <div class="card-box-header"><i class="fa fa-file-text-o" aria-hidden="true"></i>
                <div translate="appointment.doctordashboard.orderacceptances.lbl"></div>
            </div>
            <div>{{Items.checkedincount}}</div>
        </div>
        <div class="card-box-item box-bg-color2" ng-if="HasAccess('LabDashboard', 'SpecimenCollection')"
            ng-click="specimen()">
            <div class="card-box-header">
                <div> <i class="fa fa-user" aria-hidden="true"></i></div>
                <div translate="appointment.doctordashboard.specimen.lbl"></div>
            </div>
            <div>0</div>
        </div>
        <div class="card-box-item box-bg-color3" ng-if="HasAccess('LabDashboard', 'ResultEntries')"
            ng-click="resultentries()">
            <div class="card-box-header">
                <div><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                <div translate="appointment.doctordashboard.resultentries.lbl"></div>
            </div>
            <div>{{Items.checkedincount}}</div>
        </div>
        <div class="card-box-item box-bg-color4" ng-click="resultapprovals()"
            ng-if="HasAccess('LabDashboard', 'ResultApprovals')">
            <div class="card-box-header">
                <div> <i class="fa fa-usd" aria-hidden="true"></i></div>
                <div translate="appointment.doctordashboard.resultapprovals.lbl"></div>
            </div>
            <div>{{Items.checkedincount}}</div>
        </div>
        <div class="card-box-item box-bg-color5" ng-click="resultreleases()"
            ng-if="HasAccess('LabDashboard', 'ResultReleases')">
            <div class="card-box-header">
                <div><i class="fa fa-list" aria-hidden="true"></i></div>
                <div translate="appointment.doctordashboard.resultreleases.lbl"></div>
            </div>
            <div>0</div>
        </div>
        <div class="card-box-item box-bg-color6" ng-click="resulttemplates()"
            ng-if="HasAccess('LabDashboard', 'ResultTemplates')">
            <div class="card-box-header">
                <div><i class="fa fa-inr" aria-hidden="true"></i></div>
                <div translate="appointment.doctordashboard.resulttemplates.lbl"></div>
            </div>
            <div>{{Items.checkedincount}}</div>
        </div>
        <div class="card-box-item box-bg-color7" ng-click="managetests()"
            ng-if="HasAccess('LabDashboard', 'ManageTests')">
            <div class="card-box-header">
                <div><i class="fa fa-percent" aria-hidden="true"></i></div>
                <div translate="appointment.doctordashboard.managetests.lbl"></div>
            </div>
            <div>{{Items.checkedincount}}</div>
        </div>
        <div class="card-box-item box-bg-color8" ng-click="manageparam()"
            ng-if="HasAccess('LabDashboard', 'ManageParameter')">
            <div class="card-box-header">
                <div><i class="fa fa-briefcase" aria-hidden="true"></i></div>
                <div translate="appointment.doctordashboard.manageparam.lbl"></div>
            </div>
            <div>{{Items.checkedincount}}</div>
        </div>
        <div class="card-box-item box-bg-color9" ng-click="labreport()" ng-if="HasAccess('LabDashboard', 'Reports')">
            <div class="card-box-header">
                <div><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></div>
                <div translate="appointment.doctordashboard.reports.lbl"></div>
            </div>
            <div>{{Items.checkedincount}}</div>
        </div>
        <div class="card-box-item box-bg-color3" ng-click="antibiotic()">
            <div class="card-box-header">
                <div><i class="fas fa-shield-virus" aria-hidden="true"></i></div>
                <div translate="Antibiotic Master"></div>
            </div>
            <div></div>
        </div>
        <div class="card-box-item box-bg-color1" ng-click="orgisolation()">
            <div class="card-box-header">
                <div><i class="fas fa-bacterium" aria-hidden="true"></i></div>
                <div translate="Organism Isolation"></div>
            </div>
            <div></div>
        </div>
        <!-- <div class="card-box-item box-bg-color5" ng-click="pmrmaster()">
            <div class="card-box-header">
                <div><i class="fas fa-draw-polygon" aria-hidden="true"></i></div>
                <div translate="PMR Master"></div>
            </div>
            <div></div>
        </div> -->
    </div>
</div>

<!-- <div class="custom_table">
    <div class="table_topic col-md-6">Total Statistics</div>
    <table class="col-sm-6 table table-bordered">
        <thead>
            <tr ng-repeat="headerR in headerRow">
                <th ng-repeat="col in headerRow.cols" class="custom_tbl">{{col.text}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in rows">
                <td ng-repeat="col in row.cols" scope="row">{{col.text}}</td>
            </tr>
            <tr>
                <td ng-repeat="col in total.cols" scope="total">{{col.text}}</td>
            </tr>
        </tbody>
    </table>
</div> -->