<link rel="stylesheet" href="app/css/drhms.css">
<style>
    .title {
        font-size: 18px;
        font-weight: 600;
        color: #00125a;
    }

    label {
        margin-top: 0;
    }

    .search-box .items-search input#pidreg {
        border: 0;
        box-shadow: unset;
        background: #f8f8f8 !important;
        border-radius: 16px;
        margin-right: 2px;
    }

    .search-box {
        position: relative;
    }

    .search-box i {
        position: absolute;
        right: 15px;
        margin-top: -24px;
        color: #aaa;
    }

    .tabview {
        box-shadow: unset !important;
    }

    .section-1 {
        display: flex;
    }

    fieldset {
        border-bottom: unset !important;
        margin-top: 10px;
    }

    h4.info-title {
        color: #00125a;
        font-weight: 500 !important;
        font-size: 14px !important;
    }

    input[type=search],
    input[type=text] {
        /* height: 30px !important; */
        border-radius: 0px;
        margin-bottom: 0px !important;
        background: #f8f8f8;
        border: 1.5px solid #aaa;
    }

    span.btn.btn-default.form-control.ui-select-toggle {
        /* height: 30px; */
        border-radius: 0px;
        background: #f8f8f8 !important;
        border: 1.5px solid #aaa !important;
    }

    .booking-slot {
        border-bottom: 1.5px solid #ccc;
        padding-top: 10px;
        margin-top: 20px;
        margin-bottom:10px;
    }

    i.icofont-doctor {
        color: #03f;
        font-size: 20px;
    }

    .doctor-info {
        color: #03f;
    }

    /* .doctor-info1 {
        color: #262626;
    } */

    .slot-name {
        color: #262626;
        font-weight: 600;
        font-size: 14px;
    }

    b,
    strong {
        font-weight: 400;
    }

    .term-opt.btn-group {
        padding: 4px;
        /* color: #262626; */
        width: 100px;
        text-align: center;
        margin: 1px;
        font-size: 12px;
    }

    .Bookeditem1 {
        background-color: #ff3c36 !important;
        padding: 5px !important;
        color: #000000 !important;
        border-radius: 0px;
        border: 1.5px solid #ff3c36 !important;
    }

    .term-opt.btn-group.cust_btnouter.active {
        background: #03f;
        /* border: 1.5px solid #03f; */
        height: 30px;
        border-radius: 0px;
        color: #fff;
    }

    .Available {
        background-color: #f8f8f8 !important;
        border-radius: 0px;
        border: 1.5px solid #03f !important;
    }

    button.noshow-btn {
        background: #0598f6;
        padding: 7px;
        color: #fff;
        border: 0;
        border-radius: 0px;
        width: 100px;
        margin-right: 14px;
    }

    button.cancel-btn {
        background: #ff3c36;
        padding: 4px;
        color: #fff;
        border: 0;
        border-radius: 0px;
        width: 100px;
        margin-right: 14px;
    }

    button.checkin-btn {
        background: #03f;
        padding: 4px;
        color: #fff;
        border: 0;
        border-radius: 0px;
        width: 100px;
        margin-right: 14px;
    }

    button.reshedule-btn {
        background: #ff902b;
        padding: 4px;
        color: #fff;
        border: 0;
        border-radius: 0px;
        width: 100px;
        margin-right: 14px;
    }

    button.save-btn {
        background-color: #dce512;
        padding: 4px;
        color: #fff;
        border: 0;
        border-radius: 0px;
        width: 100px;
        margin-right: 14px;
    }

    .btn-success {
        background-color: #03f !important;
    }

    .Breakitem {
        background-color: #666 !important;
        color: #000000 !important;
        border: 1.5px solid #666 !important;
    }

    .button-list {
        padding-top: 20px !important;
        text-align: center;
    }

    table.uib-timepicker {
        border: unset !important;
        display: block !important;
        height: 50px !important;
        margin: -15px -12px;
    }

    .Holidayitem {
        background-color: #6e6969 !important;
        color: #fafafa !important;
        border: 1px solid #6e6969 !important;
    }

    td.form-group.uib-time.hours {
        height: 64px;
    }

    .col-sm-6.form-group {
        height: 60px;
    }

    input[type=email] {
        border-radius: 0px;
        background: #f8f8f8 !important;
        border: 1.5px solid #aaa !important;
    }

    .btn-custom-radio {
        display: flex;
        align-items: center;
    }

    patientsearch.logo .custom-popup-wrapper {
        margin-left: -200px;
    }

    autosearch.logo .custom-popup-wrapper {
        margin-left: -240px;
    }

    label.btn-feedback-selected {
        color: #006c9a !important;
        background: #fff !important;
        border: 1px solid #006c9a;
        box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
    }
    label.btn-feedback-notselected {
         background: #46761b;
        color: #fafafa;
        border-radius: 0;
    }
</style>
<div class="appointment">
    <react-component name="AppointmentsFormStatusBar" props="{ reactProps: reactProps, onAction: handleReactAction }"></react-component>
    <div class="col-sm-12" id="banner">
        <patientbanner patientid="item.PatientId"></patientbanner>
    </div>
    <form id="item_form" name="item_form" class="form-horizontal" role="form">
        <div class="col-sm-12">
            <fieldset ng-disabled="canDisablePatientDiv()">
                <label class="col-sm-1 control-label" style="font-size: 15px;" for="category"
                    translate="appointment.appointment-form.category.lbl"></label>
                <div class="col-sm-11" id="appointmentgrp">
                    <div class="col-sm-8">
                        <react-component name="AppointmentsFormCategoryButtons" props="{ reactProps: reactProps, onAction: handleReactAction }"></react-component>
                    </div>
                    <div class="col-sm-4 no-pad">
                        <div class="search-box" ng-show="item.AppointmentCategoryId!=1">
                            <patientsearch patientid="item.PatientId" class="logo" name="txtpatientsearch"
                                patientinfo="selectedPatient" patientchange="patientChange()"
                                aria-placeholder="Patient Search" issearch="nopatinetsearch">
                            </patientsearch>
                            <i class="fas fa-search" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-sm-12">
            <div class="section-1">
                <fieldset ng-disabled="canDisablePatientDiv()">
                    <h4 class="col-sm-12 info-title" translate="appointment.appointment-form.pnlpatientinfo.lbl">
                    </h4>

                    <react-component name="AppointmentsFormPatientPanel" props="{ reactProps: reactProps, onAction: handleReactAction }"></react-component>
                    <div class="form-group col-sm-6" ng-show="item.IsAddressSearch==true">
                        <label class="col-sm-12 control-label"
                            translate="registration.fullregistration.googleaddress.lbl"></label>
                        <div class="col-sm-10">
                            <input type="text" id="googleaddopt" tabindex="-1" ng-disabled="disablegoogleaddopt"
                                class="form-control" gm-places-autocomplete="autocompleteOptions"
                                ng-model="autocompleteModel" />
                        </div>
                        <div class="col-sm-1 col-md-1 col-lg-1">
                            <input type="checkbox" name="googleaddressoption" tabindex="-1" class="custom-checkbox"
                                tabindex="tabindexmap.patienttabindex" ng-click="enablegoogleaddopt()"
                                ng-model="chkgoogleaddopt">
                        </div>
                    </div>

                </fieldset>
                <!-- Appointment info -->
                <fieldset ng-disabled="canDisableAppointmentDiv()">
                    <h4 class="col-sm-12 info-title" translate="appointment.appointment-form.pnlappointmentinfo.lbl">
                    </h4>
                    <react-component name="AppointmentsFormAppointmentPanel" props="{ reactProps: reactProps, onAction: handleReactAction }"></react-component>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-12 control-label" for="referredby"
                            translate="registration.registrationcumvisit.referredby.lbl"></label>
                        <div class="col-sm-12" id="referral">
                            <autosearch class="logo" itemid="item.ReferrerId" ttabindex="tabindexmap.patienttabindex"
                                iteminfo="" name="'referredby'" rowdata="" config="vm.referralcontrolconfig"
                                candisable="DisableReferral" itemchange="referralChange($select.selected)"
                                isrequired="true">
                            </autosearch>
                        </div>
                        <!-- <div class="col-lg-2">
                            <button type="button" class="btn-add" tabindex="-1" ng-click="addReferral()" uib-tooltip="{{ 'registration.fullregistration.addnewref-tooltip.lbl' | translate }}"
                                tooltip-placement="top">
                                <i class="fas fa-plus" aria-hidden="true"></i>
                            </button>
                        </div> -->
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="col-sm-12">
            <div style="display:flex;" class="booking-slot">
                <p style="background-color:red;border:1px solid white;padding:5px;width:20px;height:20px;"></p>
                <span style="padding-right:20px;padding-left:5px;">Booked Slots</span>
                <p style="background-color:grey;border:1px solid white;padding:5px;width:20px;height:20px;"></p>
                <span style="padding-right:20px;padding-left:5px;">Break time</span>
                <p style="background-color:rgb(231, 230, 230);border:1px solid white;padding:5px;width:20px;height:20px;"></p>
                <span style="padding-right:20px;padding-left:5px;">Available Slots</span>
            </div> 
            <div class="doctor-details">
                <div>
                    <img class="patient-img img-responsive img-circle image-height-control img-thumbnail center-block"
                        tabindex="tabindexmap.patienttabindex" ng-show="!!currentcontext.file"
                        ngf-thumbnail="currentcontext.file" />
                    <img ng-show="!currentcontext.file && item.PhotoPath"
                        data-ng-src="data:image/png;base64,{{currentcontext.Photo}}"
                        tabindex="tabindexmap.patienttabindex"
                        class="patient-img img-responsive img-circle image-height-control img-thumbnail center-block" />
                </div>
            </div>
            <react-component name="AppointmentsFormSlotPicker" props="{ reactProps: reactProps, onAction: handleReactAction }"></react-component>
        </div>
        <react-component name="AppointmentsFormFooter" props="{ reactProps: reactProps, onAction: handleReactAction }"></react-component>
    </form>
</div>