<link href="app/css/dashboard.css" rel="stylesheet">
<div class="row page-header">
    <h4 translate="appointment.doctordashboard.pagetitle6.lbl"></h4>
</div>
</div>
<div id="cemr_dashboard" style="margin-top: 20px;">
    <div class="col-sm-12">
        <div class="card-flex-box-billing">
            <div class="card-box-item box-bg-color1" ng-if="HasAccess('PharmacyDashboard', 'MedicineSales')"
                ng-click="medicinesales()">
                <div class="card-box-header"><i class="fa fa-registered" aria-hidden="true"></i>
                    <div translate="appointment.doctordashboard.medicinesales.lbl"></div>
                </div>
                <div>{{Items.checkedincount}}</div>
            </div>
            <div class="card-box-item box-bg-color2" ng-if="HasAccess('PharmacyDashboard', 'MedicineReturns')"
                ng-click="medicinereturns()">
                <div class="card-box-header">
                    <div> <i class="fa fa-user" aria-hidden="true"></i></div>
                    <div translate="appointment.doctordashboard.medicinereturn.lbl"></div>
                </div>
                <div>{{Items.appoinmentCount}}</div>
            </div>
            <div class="card-box-item box-bg-color3" ng-if="HasAccess('PharmacyDashboard', 'StockIndent')"
                ng-click="stockindent()">
                <div class="card-box-header">
                    <div><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                    <div translate="appointment.doctordashboard.stockindent.lbl"></div>
                </div>
                <div>{{Items.checkedincount}}</div>
            </div>
            <div class="card-box-item box-bg-color4" ng-if="HasAccess('PharmacyDashboard', 'StockReceives')"
                ng-click="stockrereceives()">
                <div class="card-box-header">
                    <div> <i class="fa fa-usd" aria-hidden="true"></i></div>
                    <div translate="appointment.doctordashboard.stockrereceives.lbl"></div>
                </div>
                <div>{{Items.checkedincount}}</div>
            </div>
            <div class="card-box-item box-bg-color5" ng-if="HasAccess('PharmacyDashboard', 'StockStatus')"
                ng-click="stockstatus()">
                <div class="card-box-header">
                    <div><i class="fa fa-list" aria-hidden="true"></i></div>
                    <div translate="appointment.doctordashboard.stockstatus.lbl"></div>
                </div>
                <div>{{Items.checkedincount}}</div>
            </div>
            <div class="card-box-item box-bg-color6" ng-if="HasAccess('PharmacyDashboard', 'StockMovement')"
                ng-click="stockmovement()">
                <div class="card-box-header">
                    <div><i class="fa fa-inr" aria-hidden="true"></i></div>
                    <div translate="appointment.doctordashboard.stockmovement.lbl"></div>
                </div>
                <div>{{Items.checkedincount}}</div>
            </div>
            <div class="card-box-item box-bg-color7" ng-if="HasAccess('PharmacyDashboard', 'MedicineCreditBills')"
                ng-click="medicinebills()">
                <div class="card-box-header">
                    <div><i class="fa fa-percent" aria-hidden="true"></i></div>
                    <div translate="billing.ippharmacysale.pagetitle.lbl"></div>
                </div>
                <div>{{Items.checkedincount}}</div>
            </div>
            <div class="card-box-item box-bg-color8" ng-if="HasAccess('PharmacyDashboard', 'MedicineCreditReturns')"
                ng-click="medicinereturn()">
                <div class="card-box-header">
                    <div><i class="fa fa-briefcase" aria-hidden="true"></i></div>
                    <div translate="billing.ippharmacyreturn.pagetitle.lbl"></div>
                </div>
                <div>{{Items.checkedincount}}</div>
            </div>
            <div class="card-box-item box-bg-color9" ng-if="HasAccess('PharmacyDashboard', 'PharmacyReports')"
                ng-click="pharmacyreport()">
                <div class="card-box-header">
                    <div><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                    <div translate="Reports"></div>
                </div>
                <div>{{Items.checkedincount}}</div>
            </div>
            <!-- <div class="card-box-item box-bg-color3" ng-if="HasAccess('PharmacyDashboard', 'DirectPharmacySales')"
                ng-click="pharmacysales()">
                <div class="card-box-header">
                    <div><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                    <div translate="appointment.doctordashboard.pharmacysales.lbl"></div>
                </div>
                <div>{{Items.checkedincount}}</div>
            </div> -->
            <div class="card-box-item box-bg-color3" ng-if="HasAccess('PharmacyDashboard', 'DirectPharmacySales')"
            ng-click="pharmacysalespatient()">
            <div class="card-box-header">
                <div><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                <div translate="Direct Patient Pharmacy Sales"></div>
            </div>
            <div>{{Items.checkedincount}}</div>
        </div>
            <div class="card-box-item box-bg-color4" ng-if="HasAccess('PharmacyDashboard','DirectMedicineReturns')"
                ng-click="medicinereturns()">
                <div class="card-box-header">
                    <div> <i class="fa fa-usd" aria-hidden="true"></i></div>
                    <div translate="appointment.doctordashboard.medicinereturns.lbl"></div>
                </div>
                <div>{{Items.checkedincount}}</div>
            </div>
            <div class="card-box-item box-bg-color4" ng-if="HasAccess('PharmacyDashboard', 'StaffCredits')"
                ng-click="staffcredit()">
                <div class="card-box-header">
                    <div> <i class="fa fa-usd" aria-hidden="true"></i></div>
                    <div translate="reports.staffcredit.lbl"></div>
                </div>
                <div>{{Items.checkedincount}}</div>
            </div>
            <div class="card-box-item box-bg-color5" ng-if="HasAccess('PharmacyDashboard', 'StaffCreditPayment')"
                ng-click="staffcreditpayment()">
                <div class="card-box-header">
                    <div><i class="fa fa-list" aria-hidden="true"></i></div>
                    <div translate="reports.staffcreditpayment.lbl"></div>
                </div>
                <div>{{Items.checkedincount}}</div>
            </div>
            <div class="card-box-item box-bg-color6" ng-if="HasAccess('PharmacyDashboard', 'StaffCreditReturns')"
                ng-click="staffcreditreturn()">
                <div class="card-box-header">
                    <div><i class="fa fa-inr" aria-hidden="true"></i></div>
                    <div translate="billing.pharmacy.staffcreditreturns.lbl"></div>
                </div>
                <div>{{Items.checkedincount}}</div>
            </div>
        </div>
    </div>
</div>