<style>
    .well {
        padding: 5px;
    }

    .table-uigrid {
        height: 390px !important;
    }
    @media (min-width:1200px) and (min-height:637px){.bill_refundlist .ui-grid-viewport{min-height:369px;height:364px !important;}
}
    @media(min-width:1360px) and (min-height:675px){.bill_refundlist .ui-grid-viewport{min-height:404px;}
}
@media (device-width:100vw) and (device-height:100vh){
    .bill_refundlist .ui-grid-viewport{
    height:66vh !important;
    min-height:66vh;
}
}
.bill_refundlist .ui-grid-viewport{
    height:60vh;
    min-height:60vh;
}
</style>

<react-component name="RefundListFilterScreen" props="{ part: 'header', reactProps: reactProps, onAction: handleReactAction }"></react-component>
<react-component name="RefundListFilterScreen" props="{ part: 'filters', reactProps: reactProps, onAction: handleReactAction }"></react-component>

<div class="container-fluid" id="specialitysheight">
    <div ui-grid="vm.gridConfig" class="table-uigrid table-uigrid-tab bill_refundlist"></div>
</div>
<react-component name="RefundListFilterScreen" props="{ part: 'total', reactProps: reactProps, onAction: handleReactAction }"></react-component>

<div class="fooder-bgs">
    <div class="row">
        <ul uib-pagination total-items="vm.gridConfig.pagerObj.totalItems" items-per-page="vm.gridConfig.pagerObj.pageSize" start-index="vm.gridConfig.pagerObj.startIndex"
            ng-model="vm.gridConfig.pagerObj.currentPage" ng-change="getList()"></ul>
    </div>
</div>
