<react-component name="ServiceGroupRateMappingListScreen" props="{ part: 'header', reactProps: reactProps, onAction: handleReactAction }"></react-component>
<react-component name="ServiceGroupRateMappingListScreen" props="{ part: 'list', reactProps: reactProps, onAction: handleReactAction }"></react-component>
<div class="fooder-bgs">
    <div class="row">
        <ul uib-pagination total-items="vm.gridConfig.pagerObj.totalItems"
            items-per-page="vm.gridConfig.pagerObj.pageSize" start-index="vm.gridConfig.pagerObj.startIndex"
            ng-model="vm.gridConfig.pagerObj.currentPage" ng-change="getList()"></ul>
    </div>
</div>
