<style>
    .modal-lg {
        width: 800px;
    }

    .panel-body {
        padding: 15px;
        margin-left: 0px;
        margin-top: 40px;
        margin-right: 0px;
        margin-bottom: 0px;
        background-image: url(app/img/bg-body.jpg);
        background-repeat: repeat;
        overflow: auto;
    }

    .modal-content .panel-body {
        overflow: inherit;
    }

    .well {
        min-height: 20px;
        padding: 19px;
        margin-bottom: 0px;
        border: 1px solid #ededed;
        border-radius: 4px;
        background: rgb(233, 246, 253);
        /* Old browsers */
        background: -moz-linear-gradient(top, rgba(233, 246, 253, 1) 0%, rgba(211, 238, 251, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(233, 246, 253, 1) 0%, rgba(211, 238, 251, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgb(250, 250, 250) 0%, rgb(247, 252, 253) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e9f6fd', endColorstr='#d3eefb', GradientType=0);
        /* IE6-9 */
        box-shadow: 4px 2px 13px -7px rgba(0, 0, 0, 0.75);
    }

    .formactionbar {
        padding: 5px 15px;
        height: 40px;
        background-color: #ccecf5;
    }

    .custom-modal-header {
        margin-bottom: 10px;
        background-color: #597a9a;
        color: #fff;
    }

    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: -1px 3px 20px 7px rgba(249, 244, 244, 0.5);
    }

    .modal-header {
        padding: 4px 10px;
        border-bottom: 1px solid #e5e5e5;
    }

    .immunization_popup {
        text-align: center;
        margin: 0 auto;
        float: none;
    }
</style>
<div class="modal-header custom-modal-header">
    <div class="col-sm-12 ">
        <h3 class="panel-title" translate="billing.lhrcvoucher.pnltitle.lbl"></h3>
    </div>
</div>
</div>
<div class="row">
    <div class="col-sm-12 ">
        <form id="item_form" name="item_form" class="form-horizontal" role="form">
            <react-component name="BillingLhrcVoucherFormScreen" props="{ reactProps: reactProps, onAction: handleReactAction }"></react-component>
<div class="col-sm-12">
    <div class="form-group">
        <label class="col-sm-6 control-label" for="patientname" translate="billing.lhrcvoucher.patientname.lbl"></label>
        <div class="col-sm-6">
            <patientsearch controlid="'pid'" patientid="item.PatientId" ng-disabled="item.isAdmitted" class="" name="txtpatientsearch"
                patientinfo="selectedPatient" patientchange="patientChange()" ng-keyup="moveHeaderFocus('pid')"
                tabindex="tabindexmap.patienttabindex" filterconfig="patientfilterconfig" required></patientsearch>
        </div>
    </div>
    <!-- Hidden native mirrors of the real validated fields, preserving
         AngularJS's real required/ng-pattern/ng-minlength validation via
         item_form.$valid (utl.Validator.validate) exactly as before --
         see the disclosure comment in lhrcvoucher-form.js. Not rendered
         visually; the corresponding user-facing fields are rebuilt in
         React (BillingLhrcVoucherFormScreen / ...FormDetailsScreen). -->
    <div style="display:none" aria-hidden="true">
        <input type="text" ng-model="item.VoucherDate" required>
        <input type="text" ng-model="item.BankId" required ng-if="item.PaymentTypeId > 1 && item.PaymentTypeId != 7">
        <input type="text" ng-model="item.ChequeNo" required ng-if="item.PaymentTypeId == 2">
        <input type="text" ng-model="item.DDNumber" required ng-pattern="/^\d+$/" ng-if="item.PaymentTypeId == 3">
        <input type="text" ng-model="item.WireTransferId" required ng-if="item.PaymentTypeId == 4">
        <input type="text" ng-model="item.AuthorizeNumber" required ng-if="item.PaymentTypeId == 5 || item.PaymentTypeId == 6">
        <input type="text" ng-model="item.TerminalNoId" required ng-if="item.PaymentTypeId == 5 || item.PaymentTypeId == 6">
        <input type="text" ng-model="item.CardTypeId" required ng-if="item.PaymentTypeId == 5 || item.PaymentTypeId == 6">
        <input type="text" ng-model="item.VoucherAmount" required>
        <input type="text" ng-model="item.Mobile" ng-minlength="10" ng-pattern="/^\d+$/">
    </div>
</div>
<react-component name="BillingLhrcVoucherFormDetailsScreen" props="{ reactProps: reactProps, onAction: handleReactAction }"></react-component>
        </form>
    </div>
</div>