<style>
    .padding-top1 {
        padding-top: 1px;
    }


    .padding-top1 .col-sm-4 {
        padding-left: 2px;
        padding-right: 2px;
    }

    .table-uigrid {
        margin-left: 10px;
        margin-right: 10px;
        height: 486px !important;
    }

    .icon_home {
        width: 5%;
        float: right;
    }

    .single-filter .ui-grid-render-container-body .ui-grid-viewport {
        height: 459px !important;
    }

    @media(min-width:1360px) and (min-height:675px) {
        .single-filter .ui-grid-render-container-body .ui-grid-viewport {
            min-height: 473px;
            height: 438px !important;
        }
    }

    @media(min-width:1200px) and (min-height:637px) {
        .single-filter .ui-grid-render-container-body .ui-grid-viewport {
            min-height: 438px;
            height: 435px !important;
        }
    }

    .single-filter .ui-grid-render-container-body .ui-grid-viewport {
        height: 64vh;
        min-height: 64vh;
    }

    @media (device-width:100vw) and (device-height:100vh) {
        .single-filter .ui-grid-render-container-body .ui-grid-viewport {
            height: 74vh;
            min-height: 74vh;
        }
    }
</style>

<react-component name="BillingLhrcVoucherListScreen" props="{ onAction: handleReactAction }"></react-component>
<div class="row filter-area">
    <div class="col-sm-12">
        <div class="col-sm-3">
            <label class="col-sm-4 control-label filter-lbl" translate="billing.lhrcvoucher.vouchernnum.lbl"></label>
            <div class="input-group col-sm-8">
                <div class="input-group-addon">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </div>
                <input type="text" class="form-control" on-enter="getList()" ng-model="currentfilter.LHRCVoucherNo" translate translate-attr-placeholder="Voucher No">
            </div>
        </div>
        <div class="col-sm-3">
            <label class="col-sm-4 control-label filter-lbl" translate="billing.lhrcvoucher.date.lbl"></label>
            <div class="col-sm-8 ">
                <input type="text" class="form-control" name="from" ng-change="getList()" datepicker-options="datePickerOptions" show-button-bar="{{datePickerOptions.showButtonBar}}"
                    uib-datepicker-popup="{{datePickerOptions.dateFormat}}" placeholder="{{datePickerOptions.placeholder}}" ng-click="fromdatePopup = { opened: true }"
                    is-open="fromdatePopup.opened" ng-model="currentfilter.VoucherDate">
            </div>
        </div>
        <div class="col-sm-3">
            <label class="col-sm-4 control-label filter-lbl" translate="billing.lhrcvoucher.username.lbl"></label>
            <div class="col-sm-8">
                <autosearch itemid="currentfilter.CreatedBy" iteminfo="" rowdata="" config="vm.usercontrolconfig" itemchange="getList()"
                    onenter="getList()"></autosearch>
            </div>
        </div>
        <div class="col-sm-3">
            <label class="col-sm-5 control-label filter-lbl" translate="billing.lhrcvoucher.status.lbl"></label>
            <div class="col-sm-7">
                <react-component name="BridgeLookupSelectScreen" props="{ reactProps: reactPropsStatusContainer.reactProps, onAction: reactPropsStatusContainer.onAction }"></react-component>
            </div>
        </div>
    </div>
</div>

<react-component name="BillingLhrcVoucherGridScreen" props="{ reactProps: reactProps, onAction: handleReactAction }"></react-component>
