<link href="app/css/dashboard.css" rel="stylesheet">
<style>
    table#pendingorder>thead>tr>th {
        background: #193b82;
        padding: 4px;
        color: white;
    }
    
    .weeks {
        display: block !IMPORTANT;
    }
    
    .jqx-scheduler-toolbar-details {
        width: 291px;
        text-align: end;
    }
    
    .jqx-fill-state-normal {
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        -ms-touch-action: none;
        font-family: Verdana, Arial, sans-serif;
        font-style: normal;
        font-size: 13px;
        border-color: #aaa;
        background: #efefef;
        padding: 10px 22px;
        padding-bottom: 6px;
        padding-top: 6px !IMPORTANT;
        bottom: 2px;
        font-weight: 300;
        left: 29px;
    }
    /* .small-box {
        box-shadow: 0 0 9px 3px #d2d2d2;
        border-radius: 32px;
        position: relative;
        float: left;
        width: 100%;
        padding: 6px;
        padding-bottom: 0;
        padding-top: 2px;
        margin-bottom: 18px;
    }

    .small-box {
        height: 90px !important;
        padding: 6px !important;
        border-radius: 0px;
        box-shadow: 0px 0px 6px 4px #e6e6e6 !important;
    } */
    
    .small-box {
        height: 100px !important;
        padding: 6px !important;
        border-radius: 0px;
        box-shadow: 0px 0px 6px 4px #e6e6e6 !important;
        box-shadow: 0 0 9px 3px #d2d2d2;
        border-radius: 15px;
        position: relative;
        float: left;
        width: 100%;
        padding: 6px;
        padding-bottom: 0;
        padding-top: 2px;
        margin-bottom: 8px;
    }
    /* .small-box .icon>i {
        font-size: 40px;
      
        color: #ffffff !important;
        margin-top: 33%;
    } */
    
    .small-box .icon>i {
        font-size: 48px;
        /* color: #737373 !important; */
        color: #ffffff !important;
        margin-top: 100%;
    }
    
    .text-white {
        /* color: #06386b !important; */
        color: #ffffff !important;
        margin-bottom: 8%;
    }
    /* h3.count {
        position: absolute;
        font-size: 34px !important;
        width: 100%;
        padding-left: 8px;
        margin: 0;
        padding-top: 8px;
      
        color: #ffffff !important;
        font-weight: 500 !important;
    } */
    
    h3.count {
        position: absolute;
        font-size: 50px !important;
        width: 100%;
        padding-left: 8px;
        margin: 0;
        padding-top: 8px;
        /* color: #59a0d5; */
        color: #ffffff !important;
        font-weight: 500 !important;
    }
    
    .jqx-widget .jqx-grid-cell,
    .jqx-widget .jqx-grid-column-header,
    .jqx-widget .jqx-grid-group-cell {
        border-color: #aaa;
        border-top: unset !important;
        border-right: unset !important;
    }
    
    div#toolbarscheduler {
        width: 100% !important;
    }
    
    table#tablescheduler {
        width: 100% !IMPORTANT;
    }
    
    div#contenttablescheduler {
        width: 100% !IMPORTANT;
    }
    
    td.jqx-scheduler-time-column.jqx-widget-header.jqx-cell.jqx-grid-cell.jqx-item.jqx-center-align.jqx-grid-cell-nowrap {
        border: unset !important;
    }
    
    .jqx-scheduler-not-work-time-cell {
        background: #fff;
    }
    
    #scheduler {
        height: 1200px !important;
    }
    
    .jqx-widget-content.jqx-calendar-month-container>div {
        height: 40px !IMPORTANT;
    }
    
    td.jqx-rc-all.jqx-item.jqx-calendar-cell.jqx-calendar-cell-month {
        padding: 0 !IMPORTANT;
        border: unset !IMPORTANT;
    }
    
    .jqx-calendar.jqx-widget.jqx-widget-content.jqx-rc-all.jqx-popup.jqx-fill-state-focus {
        width: 237px !IMPORTANT;
        height: 262px !important;
        border: 1px solid gainsboro;
    }
    
    .calendar-header.jqx-reset td {
        border: unset !IMPORTANT;
        border-bottom: unset !important;
    }
    
    .jqx-widget-content.jqx-calendar-month-container {
        padding: 0 !important;
        margin: 0 !important;
        width: 100% !IMPORTANT;
    }
    
    tr.jqx-reset td {
        border: unset !IMPORTANT;
    }
    
    .calendar-header.jqx-reset td {
        border: unset !IMPORTANT;
    }
    
    td.jqx-cell.jqx-grid-cell.jqx-item.jqx-grid-cell-alt.jqx-center-align.jqx-top-align.jqx-scheduler-all-day-cell span {
        background: #1a73e8;
        color: white;
        padding: 11px 12px;
        position: relative;
        top: 16px;
        border-radius: 49px;
        font-size: 20px;
    }
    
    td.jqx-rc-all.jqx-item.jqx-calendar-cell.jqx-calendar-cell-selected.jqx-fill-state-pressed.jqx-calendar-cell-month.jqx-calendar-cell-today {
        left: 0;
        background: #1a73e8;
        color: white;
        border-radius: 29px;
        padding: 0px !IMPORTANT;
        width: 28px;
        height: 26px;
    }
    
    .jqx-grid-cell-alt {
        background: #ffffff;
        border: unset !IMPORTANT;
    }
    
    table#tablescheduler {
        width: 100% !IMPORTANT;
        border: unset;
    }
    
    div#contentscheduler .jqx-widget-header {
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        -ms-touch-action: none;
        -moz-background-clip: padding;
        -webkit-text-size-adjust: none;
        background-clip: padding-box;
        -webkit-background-clip: padding-box;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        border-color: #c5c5c5;
        background: #ffffff;
        border: unset !IMPORTANT;
    }
    
    .jqx.next span {
        display: none;
    }
    
    .qx.previous:before {
        content: "\f054";
        font-family: 'Font Awesome 5 Free';
        margin-left: 10px;
    }
    
    .qx.previous span,
    .jqx.next span {
        display: none;
    }
    
    .jqx.next:before {
        content: "\f053";
        font-family: 'Font Awesome 5 Free';
    }
    
    .minicala.jqx-widget {
        margin-left: 0 !IMPORTANT;
    }
    
    .jqx-scheduler-toolbar-details {
        width: 80%;
        text-align: center;
        font-size: 25px;
        position: relative;
        bottom: 9px;
        font-weight: 500;
        font-family: inherit;
    }
    
    .jqx-fill-state-pressed {
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        border-color: #999;
        background: #ffffff;
        font-size: 14px;
        padding: 10px 22px;
        padding-bottom: 6px;
        padding-top: 6px !IMPORTANT;
        position: relative;
        bottom: 2px;
        font-weight: 300;
        left: 29px;
    }
    
    .aside-collapsed .wrapper>section div#scheduler {
        width: 100% !IMPORTANT;
    }
    
    .wrapper>section div#scheduler {
        width: 100% !IMPORTANT;
    }
    
    .col-sm-11.cal {
        width: 96%;
        padding: 1px;
    }
    
    .col-sm-1.expand {
        width: 3.6%;
        padding: 0;
        background: #f3f3f3;
        height: 1202px;
        border: 1px solid #d6d6d6 !IMPORTANT;
    }
    
    .col-sm-12.list img {
        width: 34px;
        position: relative;
        top: 10px;
        right: 8px;
        cursor: pointer;
    }
    
    .row.filter-area.filter.ng-scope {
        position: absolute;
        z-index: 999;
        float: right;
        right: 41px;
        top: 1px;
        width: 319px;
        height: 69%;
    }
    
    .act.active>i {
        background: #73cc5e;
        padding: 4px;
        border-radius: 52%;
        margin-top: 14px;
        color: white;
        font-size: 8px;
    }
    
    .act.active {
        cursor: unset;
    }
    
    .act {
        background: #ffffff;
        padding: 10px 3px;
        cursor: pointer;
    }
    
    .act h4#contact_margin {
        margin-bottom: 15px;
    }
    
    .act.active .page-collapse {
        display: block !important;
        margin-left: -26px;
    }
    
    .act.active:before {
        transform: rotate(180deg);
    }
    
    i.fa.fa-times {
        float: inherit;
        margin-bottom: 10px;
        right: 6px;
        position: relative;
    }
    
    table#pendingorder>thead>tr>th {
        background: #cecece;
        padding: 4px;
        color: white;
    }
    
    #banner td,
    th {
        padding: 0;
        border: 1px solid #c1b9b9;
        border: unset !IMPORTANT;
    }
    
    .row.filter-area.filter.ng-scope {
        position: absolute;
        z-index: 999;
        float: right;
        right: 41px;
        top: 1px;
        width: 384px;
        height: 40%;
        padding: 0;
        padding-left: 12px;
        padding-right: 12px;
    }
    
    .list img:hover {
        background: #dde3e8;
        padding: 3px;
        border-radius: 23px;
        width: 40px !IMPORTANT;
        padding: 7px;
        position: relative;
        right: 11px;
    }
    
    td.jqx-cell.jqx-grid-cell.jqx-item.jqx-grid-cell-alt.jqx-center-align.jqx-top-align.jqx-scheduler-all-day-cell.jqx-fill-state-pressed.jqx-grid-cell-selected.jqx-scheduler-cell-selected {
        border-bottom: 1px solid gainsboro !important;
    }
    
    .jqx-scrollbar.jqx-widget.jqx-widget-content.jqx-rc-all {
        left: unset !important;
        right: 0 !important;
    }
    
    div#contentscheduler {
        width: 100% !important;
    }
    
    .au-card.recent-report {
        position: relative;
        float: left;
        width: 100%;
        height: 300px;
        /* box-shadow: 0 0 6px 0 grey; */
        margin-bottom: 23px;
        border-radius: 11px;
        padding: 15px;
        padding-top: 0px;
        background: #cdcdcd9c;
    }
    
    h3.title-2 {
        color: #004e77;
    }
    
    .table-stats.order-table.ov-h .table th {
        min-width: 10px;
        background-color: #cdcdcd !important;
        /* background-color: #eaeaea !important; */
        /* color: #444141 !important; */
        color: #184e77 !important;
        font-size: 14px;
        text-align: center !important;
        border: none !important;
        padding: 8px !important;
        /* border-radius: 13px; */
    }
    
    .table-stats.order-table.ov-h .table td {
        min-width: 10px;
        background-color: #ffffff !important;
        color: #444141 !important;
        font-size: 14px;
        text-align: center !important;
        border: unset !important;
        padding: 2px !important;
        text-align: left !IMPORTANT;
    }
    
    .table-stats.order-table.ov-h .table tr {
        border: 1px solid gainsboro;
    }
    
    .table-stats.order-table.ov-h tbody tr {
        border-bottom: 1px solid #000000 !important;
    }
    /* .table-stats.order-table.ov-h .table-stats.order-table.ov-h {
        height: 229px;
        overflow: auto;
    } */
    
    .table-stats.order-table.ov-h .table tr:nth-child(even) td {
        background: #f3f3f3 !IMPORTANT;
    }
    
    h3.fs-40.text-white {
        font-size: 37px !important;
        height: 54px;
        padding: 0 !important;
        margin: 0 !important;
        padding-top: 1px !important;
    }
    /* .row .col-sm-4:nth-child(1) .small-box .icon>i,
    .row .col-sm-4:nth-child(1) h3.count {
        color: #a0b9c5 !important;
    }

    .row .col-sm-4:nth-child(2) .small-box .icon>i,
    .row .col-sm-4:nth-child(2) h3.count {
        color: #9fc8f3 !important;
    }

    .row .col-sm-4:nth-child(3) .small-box .icon>i,
    .row .col-sm-4:nth-child(3) h3.count {
        color: #eca089 !important;
    }

    .row .col-sm-4:nth-child(4) .small-box .icon>i,
    .row .col-sm-4:nth-child(4) h3.count {
        color: #93c2f3 !important;
    }

    .row .col-sm-4:nth-child(5) .small-box .icon>i,
    .row .col-sm-4:nth-child(5) h3.count {
        color: #b8e488 !important;
    }

    .row .col-sm-4:nth-child(6) .small-box .icon>i,
    .row .col-sm-4:nth-child(6) h3.count {
        color: #94a2ef !important;
    }

    .row .col-sm-4:nth-child(7) .small-box .icon>i,
    .row .col-sm-4:nth-child(7) h3.count {
        color: #f7d570 !important;
    } */
    /* p.text-white.ng-scope {
        margin-top: 52px;
    } */
    
    p.text-white.ng-scope {
        margin-top: 57px;
    }
    
    .counter div {
        color: #184e77;
        padding: 0px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 13px;
    }
    
    .counter .head {
        background: #ddd;
        background-color: #666666;
        color: #fff;
        border-radius: 11px 11px 0px 0px;
        padding: 1px;
    }
    
    .countdetails {
        margin-bottom: 7px;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        border: none;
    }
    
    .total_count {
        text-align: center;
        font-weight: 700;
    }
    
    .total_count h3 {
        color: #000 !important;
    }
    
    .countdetails .total_count h3 {
        padding: 14px 10px !important;
        border: 1px solid #666666;
        /* margin-bottom: 0px; */
        margin-top: 0px;
        /* font-size: 38px !important; */
        border-radius: 0 0 9px 13px;
    }
    
    .total_count p {
        font-size: 12px;
    }
    
    .col-sm-10.inner {
        padding: 0;
    }
    
    .inner p {
        font-size: 16px;
    }
    
    .table-stats.order-table.ov-h {
        height: 40vh;
        overflow: auto;
    }
    
    @media only screen and (min-width: 768px) {
        .wrapper>section .weeks {
            display: block !IMPORTANT;
            position: relative;
            right: 63px;
        }
    }
    
    .weeks {
        bottom: -6px;
        position: relative;
    }
    
    .jqx-scheduler-toolbar-details {
        margin-left: 50px !important;
    }
    
    .jqx-scheduler-time-column,
    .jqx-scheduler-toolbar {
        color: #0033ff !important;
        font-weight: 500;
    }
    
    .jqx-widget-header {
        border-color: #f8f8f8 !important;
        background: #f8f8f8;
    }
    
    .jqx-scheduler-time-column,
    .jqx-scheduler-toolbar {
        color: #0033ff !important;
        font-weight: 500;
        background: #f8f8f8 !important;
    }
    
    .jqx-scheduler .jqx-grid-column-header,
    .jqx-scheduler.jqx-widget .jqx-grid-column-header {
        /* border-bottom: 1px solid #fff; */
        color: #00125a;
        background: #fff;
        font-weight: 600;
    }
    
    .jqx-scheduler-cell-selected {
        border-color: #f8f8f8 !important;
        background: #f8f8f8 !important;
    }
    
    .jqx-scheduler .jqx-cell {
        background: #f8f8f8 !important;
        border: 1.1px solid #ccc !important;
    }
    
    .jqx-grid-column-header.jqx-widget-header.jqx-disableselect {
        border-radius: 20px;
    }
    
    .jqx-fill-state-pressed {
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        border-color: #eee;
        background: #ffffff;
    }
    
    .jqx-menu-vertical {
        background-color: #3a3f51;
    }
    
    .jqx-widget {
        color: #0033ff;
    }
    
    .jqx-scheduler-all-day-cell span {
        margin-left: 3px;
        color: white;
        background: #00c292;
        border-radius: 4px;
        padding: 0px 10px;
    }
    
    h1,
    h2,
    h3,
    h4 {
        font-weight: 600;
        color: #00c292;
    }
    
    .font2 div span {
        color: #5d9cec !important;
    }
    
    i.fa.fa-user {
        color: #5d9cec;
    }
    
    .recent-report__chart {
        overflow: auto;
        /* height: 22vh; */
        height: 55vh;
    }
    
    .table>tbody>tr>td {
        text-align: left;
        padding: 2px 10px !important;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #00125a !important;
        font-weight: 600;
    }
    
    .jqx-scheduler-appointment.jqx-rc-all {
        border-color: #00c292 !important;
        color: White;
        background: #00c292 !important;
    }
    
    .jqx-scheduler-appointment.jqx-rc-all {
        height: unset !important;
    }
    
    section.ng-scope div {
        border: unset !important;
    }
    
    .radleft {
        border-radius: 15px 0px 0px 15px !important;
    }
    
    .radright {
        border-radius: 0px 15px 15px 0px !important;
    }
    
    .table-stats.order-table.ov-h {
        height: 38vh;
        overflow: auto;
    }
</style>
<div class="row page-header second_nav">
    <h4 class="col-sm-12 mt0" translate="appointment.doctordashboard.pagetitle.lbl"></h4>
</div>
<div id="cemr_dashboard" style="width: 100%;">
    <div class="">
        <div class="col-sm-12">
            <div class="col-sm-9" style="padding:0px;">
                <div class="card-flex-box-doctor">
                    <div class="card-box-item box-bg-color1" ng-if="HasAccess('DoctorDashboard', 'OP_Patients')" ng-click="checkedinpatients()">
                        <div class="card-box-header">
                            <i class="fas fa-user-injured"></i>
                            <div translate="appointment.doctordashboard.oppatients.lbl"></div>
                        </div>
                        <div>{{Items.checkedincount}}</div>
                    </div>
                    <div class="card-box-item box-bg-color2" ng-if="HasAccess('DoctorDashboard', 'IP_Patients')" ng-click="inpatients()">
                        <div class="card-box-header">
                            <div>
                                <i class="fas fa-procedures"></i>
                            </div>
                            <div translate="appointment.doctordashboard.ippatients.lbl"></div>
                        </div>
                        <div>{{Items.inpatientcount}}</div>
                    </div>
                    <div class="card-box-item box-bg-color3" ng-if="HasAccess('DoctorDashboard', 'Appointments')" ng-click="appoinment()">
                        <div class="card-box-header">
                            <div>
                                <i class="fas fa-calendar-check"></i>
                            </div>
                            <div translate="appointment.doctordashboard.appoinments.lbl"></div>
                        </div>
                        <div>{{Items.appoinmentCount}}</div>
                    </div>
                    <div class="card-box-item box-bg-color4" ng-if="HasAccess('DoctorDashboard', 'SurgerySchedule')" ng-click="surgeryschedules()">
                        <div class="card-box-header">
                            <div>
                                <i class="far fa-calendar-alt"></i>
                            </div>
                            <div translate="appointment.doctordashboard.surgeryschedule.lbl"></div>
                        </div>
                        <div>{{Items.otschedulecount}}</div>
                    </div>
                    <div class="card-box-item box-bg-color5" ng-if="HasAccess('DoctorDashboard', 'Reports')" ng-click="reports()">
                        <div class="card-box-header">
                            <div>
                                <i class="fas fa-clipboard"></i>
                            </div>
                            <div translate="reports.pagetitle.lbl"></div>
                        </div>
                        <div>{{Items.directbilling}}</div>
                    </div>
                    <div class="card-box-item box-bg-color6" ng-click="dischargepatients()">
                        <div class="card-box-header">
                            <div>
                                <i class="fas fa-hiking"></i>
                            </div>
                            <div translate="Discharged Patients"></div>
                        </div>
                        <div>{{Items.dischargedcount}}</div>
                    </div>
                    <div class="card-box-item box-bg-color6" ng-click="taskassignment()">
                        <div class="card-box-header">
                            <div>
                                <i class="fas fa-hiking"></i>
                            </div>
                            <div translate="Task Assignment"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <!-- <h4 style="margin-top:0px;margin-bottom:15px;">Today's schedule</h4> -->
                <div class="col-sm-6 countdetails">
                    <div class="counter">
                        <div class="col-sm-12 head">
                            <!-- <i class="fa fa-calendar" style="font-size:24px"></i> -->
                            Today
                        </div>
                        <div class="col-sm-12 total_count">
                            <h3 class="count0">{{Items.TodayCount}}

                            </h3>
                        </div>



                    </div>
                    <!-- <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">Today</button> -->
                </div>

                <div class="col-sm-6 countdetails">
                    <div class="counter">
                        <div class="col-sm-12 head">
                            <!-- <i class="fa fa-calendar-o" style="font-size:24px"></i> -->
                            Pending
                        </div>
                        <div class="col-sm-12 total_count">
                            <!-- <span>{{Items.PendingCount}}</span> -->
                            <h3 class="count0">{{Items.PendingCount}}
                                <!-- <p>Patients</p> -->
                            </h3>
                        </div>


                    </div>
                    <!-- <button class="tablinks" onclick="openCity(event, 'Paris')">Pending</button> -->
                </div>

                <div class="col-sm-6 countdetails">
                    <div class="counter">
                        <div class="col-sm-12 head">
                            <!-- <i class="fa fa-calendar-check-o" style="font-size:24px"></i> -->
                            Completed
                        </div>
                        <div class="col-sm-12 total_count">
                            <!-- <span>{{Items.CompletedCount}}</span> -->
                            <h3 class="count0">{{Items.CompletedCount}}
                                <!-- <p>Patients</p> -->
                            </h3>
                        </div>


                    </div>
                    <!-- <button class="tablinks" onclick="openCity(event, 'Tokyo')">Completed</button> -->
                </div>
                <div class="col-sm-6 countdetails">
                    <div class="counter">
                        <div class="col-sm-12 head" style="background-color: #e46a76;">
                            <!-- <i class="fa fa-calendar-times-o" style="font-size:24px"></i> -->
                            Cancelled
                        </div>
                        <div class="col-sm-12 total_count">
                            <!-- <span>{{Items.CancelledCount}}</span> -->
                            <h3 class="count0" style="color: #e46a76 !important;">{{Items.CancelledCount}}
                                <!-- <p>Patients</p> -->
                            </h3>
                        </div>


                    </div>
                    <!-- <button class="tablinks" onclick="openCity(event, 'USA')" id="defaultOpen">Cancelled</button> -->

                </div>

            </div>
            <div class="col-sm-12">
                <div class="col-lg-6" style="padding-right: 28px;padding-top:20px">
                    <div class="au-card recent-report">
                        <div class="au-card-inner">
                            <h3 class="title-2" translate="appointment.homecaremanagement.pending.lbl"></h3>
                            <div class="recent-report__chart">
                                <div class="table-stats order-table ov-h">
                                    <table class="table ">
                                        <thead class="radiushead">
                                            <tr>
                                                <th class="radleft" translate="MRN#"></th>
                                                <th translate="Date"></th>
                                                <th class="radright" translate="Patient Name"></th>
                                            </tr>
                                        </thead>
                                        <tr ng-repeat="pending in TodayPendingList">
                                            <td style="width: 16%;">
                                                <span>{{pending.PatientMrn}}</span>
                                            </td>
                                            <td style="width: 33%;">
                                                <span class="time">
                                                    <displaydate datetime-val="pending.StartDate">
                                                    </displaydate>
                                                </span>
                                            </td>
                                            <td style="width: 33%;">
                                                <span class="patientName">{{pending.PatientName}}</span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" style="padding-right: 28px;padding-top:20px">
                    <div class="au-card recent-report">
                        <div class="au-card-inner">
                            <h3 class="title-2" translate="appointment.homecaremanagement.complete.lbl"></h3>
                            <div class="recent-report__chart">
                                <div class="table-stats order-table ov-h">
                                    <table class="table ">
                                        <thead class="radiushead">
                                            <tr>
                                                <th class="radleft" translate="MRN#"></th>
                                                <th translate="Date"></th>
                                                <th class="radright" translate="Patient Name"></th>
                                            </tr>
                                        </thead>
                                        <tr ng-repeat="completed in TodayCompletedList">
                                            <td style="width: 16%;">
                                                <span>{{completed.PatientMrn}}</span>
                                            </td>
                                            <td style="width: 33%;">
                                                <span class="time">
                                                    <displaydate datetime-val="completed.StartDate">
                                                    </displaydate>
                                                </span>
                                            </td>
                                            <td style="width: 33%;">
                                                <span class="patientname">{{completed.PatientName}}</span>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-6" style="padding-right: 28px;">
                    <div class="au-card recent-report">
                        <div class="au-card-inner">
                            <h3 class="title-2" translate="appointment.doctordashboard.tooppatients.lbl"></h3>
                            <div class="recent-report__chart">
                                <div class="table-stats order-table ov-h">
                                    <table class="table ">
                                        <thead>
                                            <tr>
                                                <th translate="MRN#"></th>
                                                <th translate="Date"></th>
                                                <th translate="Patient Name"></th>
                                            </tr>
                                        </thead>
                                        <tr ng-repeat="oplist in outpatientlist">
                                            <td style="width: 16%;">
                                                <span>{{oplist.PatientMrn}}</span>
                                            </td>
                                            <td style="width: 33%;">
                                                <span class="time">
                                                    <displaydate datetime-val="oplist.AdmissionDate">
                                                    </displaydate>
                                                </span>
                                            </td>
                                            <td style="width: 33%;">
                                                <span class="patientname">{{oplist.PatientName}}</span>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="col-lg-6" style="padding-right: 28px;">
                    <div class="au-card recent-report">
                        <div class="au-card-inner">
                            <h3 class="title-2" translate="Today Admitted Patients"></h3>
                            <div class="recent-report__chart">
                                <div class="table-stats order-table ov-h">
                                    <table class="table ">
                                        <thead class="radiushead">
                                            <tr>
                                                <th class="radleft" translate="IP#"></th>
                                                <th translate="Date"></th>
                                                <th class="radright" translate="Patient Name"></th>
                                            </tr>
                                        </thead>
                                        <tr ng-repeat="admlist in admissionlist">
                                            <td style="width: 16%;">
                                                <span>{{admlist.VisitIdentifier}}</span>
                                            </td>
                                            <td style="width: 33%;">
                                                <span class="time">
                                                    <displaydate datetime-val="admlist.AdmissionDate">
                                                    </displaydate>
                                                </span>
                                            </td>
                                            <td style="width: 33%;">
                                                <span class="patientname">{{admlist.PatientName}} /
                                                    {{admlist.PatientMrn}}
                                                </span>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" style="padding-right: 28px;">
                    <div class="au-card recent-report">
                        <div class="au-card-inner">
                            <h3 class="title-2" translate="Today Discharged Patients"></h3>
                            <div class="recent-report__chart">
                                <div class="table-stats order-table ov-h">
                                    <table class="table ">
                                        <thead class="radiushead">
                                            <tr>
                                                <th class="radleft" translate="IP#"></th>
                                                <th translate="Disc.Date"></th>
                                                <th class="radright" translate="Patient Name"></th>
                                            </tr>
                                        </thead>
                                        <tr ng-repeat="dislist in dischargedlist">
                                            <td style="width: 16%;">
                                                <span>{{dislist.VisitIdentifier}}</span>
                                            </td>
                                            <td style="width: 33%;">
                                                <span class="time">
                                                    <displaydate datetime-val="dislist.DischargeDate">
                                                    </displaydate>
                                                </span>
                                            </td>
                                            <td style="width: 33%;">
                                                <span class="patientname">{{dislist.PatientName}} /
                                                    {{dislist.PatientMrn}}
                                                </span>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" style="padding-right: 28px;">
                    <div class="au-card recent-report">
                        <div class="au-card-inner">
                            <h3 class="title-2" translate="Today Surgery Patients"></h3>
                            <div class="recent-report__chart">
                                <div class="table-stats order-table ov-h">
                                    <table class="table ">
                                        <thead class="radiushead">
                                            <tr>
                                                <th class="radleft" translate="IP#"></th>
                                                <th translate="Schedule Date"></th>
                                                <th class="radright" translate="Patient Name"></th>
                                            </tr>
                                        </thead>
                                        <tr ng-repeat="schedule in ScheduleList">
                                            <td style="width: 16%;">
                                                <span>{{schedule.Encounter.VisitIdentifier}}</span>
                                            </td>
                                            <td style="width: 33%;">
                                                <span class="time">
                                                    <displaydate datetime-val="schedule.OTScheduledOn">
                                                    </displaydate>
                                                </span>
                                            </td>
                                            <td style="width: 33%;">
                                                <span class="patientname">{{schedule.PatientName}} /
                                                    {{schedule.PatientMrn}}
                                                </span>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" style="padding-right: 28px;">
                    <div class="au-card recent-report">
                        <div class="au-card-inner">
                            <h3 class="title-2" translate="appointment.doctordashboard.toappt.lbl"></h3>
                            <div class="recent-report__chart">
                                <div class="table-stats order-table ov-h">
                                    <table class="table ">
                                        <thead class="radiushead">
                                            <tr>
                                                <th class="radleft" translate="MRN"></th>
                                                <th translate="Appointment Date"></th>
                                                <th translate="Schedule Time"></th>
                                                <th class="radright" translate="Patient Name"></th>
                                            </tr>
                                        </thead>
                                        <tr ng-repeat="apnmnt in ApnmntList">
                                            <td style="width: 16%;">
                                                <span>{{apnmnt.PatientMrn}}</span>
                                            </td>
                                            <td style="width: 23%;">
                                                <span class="time">
                                                    <displaydate date-val="apnmnt.AppointmentDate">
                                                    </displaydate>
                                                </span>
                                            </td>
                                            <td style="width: 26%;">
                                                <span>{{apnmnt.StartTime}} &nbsp; - {{apnmnt.EndTime}}</span>
                                            </td>
                                            <td style="width: 33%;">
                                                <span class="patientname">{{apnmnt.PatientName}}</span>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" style="padding-right: 28px;">
                    <div class="au-card recent-report">
                        <div class="au-card-inner">
                            <h3 class="title-2" translate="Lab CriticalValue Patients"></h3>
                            <div class="recent-report__chart">
                                <div class="table-stats order-table ov-h">
                                    <table class="table ">
                                        <thead class="radiushead">
                                            <tr>
                                                <th translate="Patient Name"></th>
                                                <th translate="Ref #"></th>
                                                <th translate="Test Name"></th>
                                            </tr>
                                        </thead>
                                        <tr ng-repeat="lab in LabCriticals">
                                            <td style="width: 16%;">
                                                <span>{{lab.PatientName}}&nbsp;/&nbsp;{{lab.PatientMrn}}</span>
                                            </td>
                                            <td style="width: 23%;">
                                                <span class="time">{{lab.PatientOrder.OrderNumber}}</span>
                                            </td>
                                            <td style="width: 26%;">
                                                <span><b>{{lab.AnalyteName}}</b> - {{lab.Resultvalue}}&nbsp;{{lab.PatientWorkorderdetail.AnalyteUOM}}</span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" style="padding-right: 28px;">
                    <div class="au-card recent-report">
                        <div class="au-card-inner">
                            <h3 class="title-2" translate="Radiology CriticalValue Patients"></h3>
                            <div class="recent-report__chart">
                                <div class="table-stats order-table ov-h">
                                    <table class="table ">
                                        <thead class="radiushead">
                                            <tr>
                                                <th translate="Patient Name"></th>
                                                <th translate="Ref #"></th>
                                                <th translate="Test Name"></th>
                                            </tr>
                                        </thead>
                                        <tr ng-repeat="rad in RadCriticals">
                                            <td style="width: 16%;">
                                                <span>{{rad.PatientName}}&nbsp;/&nbsp;{{rad.PatientMrn}}</span>
                                            </td>
                                            <td style="width: 23%;">
                                                <span class="time">{{rad.PatientOrder.OrderNumber}}</span>
                                            </td>
                                            <td style="width: 26%;">
                                                <span><b>{{rad.AnalyteName}}</b> - {{rad.Resultvalue}}</span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid filter" id="appoinmentsheight">
                <div class="col-sm-12 cal">
                    <jqx-scheduler jqx-settings="settings" id="scheduler"></jqx-scheduler>
                </div>
                <div class="fooder-bgs"></div>
                <script>
                    $(document).ready(function() {
                        $('.act').click(function() {
                            $('.act.active').removeClass("active");
                            $(this).addClass("active");
                        });
                    });
                </script>
                <script>
                    $(document).ready(function() {
                        $('.act').click(function() {
                            $('.act.active').removeClass("active");
                            $(this).addClass("active");
                        });
                    });
                </script>