<link href="app/css/billing-details.css" type="text/css" rel="stylesheet">
<style>
    body {
        height: auto;
    }

    .form-group label {
        clear: both;
    }
</style>
<patientbanner patientid="item.PatientId"></patientbanner>
<i class="fa fa-search custom_searchh"></i>
<div class="page-header filter-area row">
    <div class="col-sm-12 name_search">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="col-sm-4 control-label" translate="registration.registrationcumvisit.patient.lbl"></label>
                <patientsearch controlid="'pid'" ng-keyup="moveHeaderFocus('pid')" patientid="item.PatientId" class="col-sm-8 logo" name="txtpatientsearch"
                    patientinfo="selectedPatient" patientchange="patientChange()" tabindex="tabindexmap.patienttabindex" isdisabled="{{SaveCompleted}}"
                    filterconfig="patientfilterconfig"></patientsearch>
            </div>
        </div>
        <!--
        <div class="col-sm-4 text-center" id="patstatusid">
            <label class="text-black">Status:</label>
            <label class="control-label patstatus" translate="{{EncounterStatus}}"></label>
        </div>
        <div class="col-sm-4">
            <button type="button" tabindex="-1" class="btn bt-color2 btn-xs pull-right btn-filter">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <span translate="clinicalmaster.serviceitem-list.addnew.lbl" class="text-white"></span>
            </button>
        </div>
        -->
    </div>
</div>
<div class="billing_typecontent clearfix">
    <div class="col-sm-3 pd0">
        <fieldset class="fsStyle  col6control" style="height: auto;" id="textboxctrlmaster">
            <legend class="legendStyle bill_visit">
                <span translate="billing.uaebilling.visitdetails.lbl">
                    <span class="ng-scope"></span>
                </span>
            </legend>
            <react-component name="UaeBillingVisitDetailsScreen" props="{ reactProps: reactProps, onAction: handleReactAction }"></react-component>
        </fieldset>
    </div>
    <div class="col-sm-5 pd0">
        <fieldset class="fsStyle  col6control" style="height: auto;" id="textboxctrlmaster">
            <legend class="legendStyle bill_insurance">
                <span translate="billing.uaebilling.insurance.lbl" class="">
                    <span class="ng-scope"></span>
                </span>
            </legend>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="" translate="billing.uaebilling.insurancecompany.lbl"></label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="" tabindex="-1" placeholder="" uppercase>
                </div>
                <div class="col-sm-1 pdl8">
                    <button type="button" class="btn btn-success btn-xs" ng-disabled="false" tabindex="-1">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="" translate="billing.uaebilling.companyname.lbl"></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="" tabindex="-1" placeholder="" uppercase>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="" translate="billing.uaebilling.customername.lbl"></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="" tabindex="-1" placeholder="" uppercase>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="" translate="billing.receipt-form.cardtype.lbl"></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="" tabindex="-1" placeholder="" uppercase>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="" translate="billing.uaebilling.policyceno.lbl"></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="" tabindex="-1" placeholder="" uppercase>
                </div>
            </div>
    </div>
    <div class="col-sm-4 pd0">
        <fieldset class="fsStyle  col6control" style="height: auto;" id="textboxctrlmaster">
            <legend class="legendStyle bill_eligiblity">
                <span translate="billing.uaebilling.eligiblity.lbl" class="">
                    <span class="ng-scope"></span>
                </span>
            </legend>
            <div class="form-group">
                <label class="col-sm-6 control-label" for="VisitType" translate="billing.opbilling-list.discount.lbl"></label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="" tabindex="-1" placeholder="" uppercase>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-6 control-label" for="doctor" translate="billing.uaebilling.balancedetamount.lbl"></label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="" tabindex="-1" placeholder="" uppercase>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-6 control-label clr_both" for="doctor" translate="billing.uaebilling.balancenetamount.lbl"></label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="" tabindex="-1" placeholder="" uppercase>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-6 control-label" for="doctor" translate="billing.uaebilling.deductable.lbl"></label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="" tabindex="-1" placeholder="" uppercase>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-6 control-label" for="doctor" translate="billing.uaebilling.deductable.lbl"></label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="" tabindex="-1" placeholder="" uppercase>
                </div>
            </div>
    </div>
</div>
<!---table-->
<div class=" table-control">
    <div class=" bg-pattern">
        <div class="table-height formRoot bill_opbilling" id="mainresponsivetablecontrol">
            <table class="table table-responsive table-bordered">
                <thead class="bg-subhead">
                    <tr>
                        <th class="col-sm-3">
                            <span translate="billing.uaebilling.itemcodeName.lbl" for="service"></span>
                        </th>
                        <th>
                            <span translate="billing.opbilling-list.qty.lbl"></span>
                        </th>
                        <th>
                            <span translate="billing.opbilling-list.rate.lbl"></span>
                        </th>
                        <th>
                            <span translate="billing.uaebilling.price.lbl"></span>
                        </th>
                        <th>
                            <span translate="billing.uaebilling.deductable.lbl"></span>
                        </th>
                        <th>
                            <span translate="billing.uaebilling.amount.lbl"></span>
                        </th>
                        <th>
                            <span translate="billing.uaebilling.dispoer.lbl"></span>
                        </th>
                        <th>
                            <span translate="billing.uaebilling.disamount.lbl"></span>
                        </th>
                        <th>
                            <span translate="billing.uaebilling.incompamount.lbl"></span>
                        </th>
                        <th>
                            <span translate="billing.uaebilling.amountvat.lbl"></span>
                        </th>
                        <th>
                            <span translate="billing.uaebilling.dedvat.lbl"></span>
                        </th>
                        <th>
                            <span translate="billing.uaebilling.insvat.lbl"></span>
                        </th>
                        <th class="col-sm-1">
                            <span translate="patientemr.prescription-form.action.lbl"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="footerbar paymentdetail_footer">
        <div class="sub-footer">
            <div class=" bgfoot ">
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <fieldset class="fsStyle col-sm-12 amountdetails" style="margin-top: 2px; height: 270px;">
                            <div class="col-sm-12 clearfix specail_cash">
                                <div class="form-group col-sm-6">
                                    <label class="col-sm-6 ng-scope" for="receivedamt" translate="billing.uaebilling.specialcashdiscount.lbl"></label>
                                    <div class="col-sm-6">
                                        <input type="number" class="form-control col-sm-6" name="" tabindex="-1" placeholder="" uppercase>
                                        <input type="text" class="form-control col-sm-6" name="" tabindex="-1" placeholder="" uppercase>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6"></div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group col-sm-6">
                                    <label class="  col-sm-6 ng-scope" for="patientbills" translate="billing.uaebilling.grossamount.lbl"> </label>
                                    <div class="col-sm-6 text-right">
                                        <input type="text" class="form-control col-sm-6" name="" tabindex="-1" placeholder="" uppercase>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="col-sm-2 ng-scope" for="patientbills" translate="billing.uaebilling.vat.lbl"> </label>
                                    <div class="col-sm-3 text-right">
                                        <input type="text" class="form-control col-sm-6" name="" tabindex="-1" placeholder="" uppercase>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 ">
                                <div class="form-group col-sm-6">
                                    <label class="  col-sm-6 ng-scope" for="patientbills" translate="billing.uaebilling.deductableamount.lbl"> </label>
                                    <div class="col-sm-6 text-right">
                                        <input type="text" class="form-control col-sm-6" name="" tabindex="-1" placeholder="" uppercase>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 deductable_amount">
                                    <label class="  col-sm-2 ng-scope" for="patientbills" translate="billing.uaebilling.vat.lbl"> </label>
                                    <div class="col-sm-10 text-right">
                                        <input type="text" class="form-control col-sm-6" name="" tabindex="-1" placeholder="" uppercase>
                                        <label class="col-sm-4 ng-scope pd0" style="margin-right:3%" for="patientbills" translate="billing.uaebilling.frompatient.lbl">
                                        </label>
                                        <input type="text" class="form-control col-sm-6" name="" tabindex="-1" placeholder="" uppercase>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group col-sm-6">
                                    <label class="col-sm-6" for="patientbills" translate="billing.uaebilling.addprevamount.lbl"></label>
                                    <div class="col-sm-6 text-right">
                                        <input type="text" class="form-control col-sm-6" name="" tabindex="-1" placeholder="" uppercase>
                                    </div>
                                </div>
                                <div class="col-sm-6"></div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group col-sm-6">
                                    <label class="col-sm-6" for="patientbills" translate="billing.uaebilling.roundoff.lbl"></label>
                                    <div class="col-sm-6 text-right">
                                        <input type="text" class="form-control col-sm-6" name="" tabindex="-1" placeholder="" uppercase>
                                    </div>
                                </div>
                                <div class="col-sm-6"></div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group col-sm-6">
                                    <label class="col-sm-6" for="patientbills" translate="billing.uaebilling.insuranceamount.lbl"></label>
                                    <div class="col-sm-6 text-right">
                                        <input type="text" class="form-control col-sm-6" name="" tabindex="-1" placeholder="" uppercase>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-2" for="patientbills" translate="billing.uaebilling.vat.lbl"></label>
                                        <div class="col-sm-3 text-right">
                                            <input type="text" class="form-control col-sm-6" name="" tabindex="-1" placeholder="" uppercase>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    </fieldset>
                    <div class="col-sm-6">
                        <div class="">
                            <fieldset class="fsStyle  col6control" style="height:270px; margin-top:-7px;" id="textboxctrlmaster">
                                <legend class="legendStyle">
                                    <span>Receipt &nbsp;
                                </legend>
                                <react-component name="UaeBillingPaymentScreen" props="{ part: 'payment', reactProps: reactProps, onAction: handleReactAction }"></react-component>
                            </fieldset>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
<!---footer-->
<div class="fooder-bgs">
    <div class="row ">
        <react-component name="UaeBillingPaymentScreen" props="{ part: 'footer', reactProps: reactProps, onAction: handleReactAction }"></react-component>
    </div>
</div>