<link href="app/css/dashboard.css" rel="stylesheet">
<div class="row page-header second_nav">
    <h4 class="col-sm-12 mt0" translate="Front Office Dashboard"></h4>
</div>
<div class="col-sm-12" style="margin-top: 20px;">
    <div class="card-flex-box-doctor">
        <div class="card-box-item box-bg-color1" ng-if="HasAccess('FrontOfficeDashboard', 'Registration')"
            ng-click="registraion()">
            <div class="card-box-header"><i class="fa fa-registered" aria-hidden="true"></i>
                <div translate="appointment.doctordashboard.registraion.lbl"></div>
            </div>
            <div>{{Items.TodayCheckInCount}}</div>
        </div>
        <div class="card-box-item box-bg-color2" ng-if="HasAccess('FrontOfficeDashboard', 'Appointments')"
            ng-click="appoinment()">
            <div class="card-box-header">
                <div> <i class="fa fa-user" aria-hidden="true"></i></div>
                <div translate="appointment.doctordashboard.appoinments.lbl"></div>
            </div>
            <div>{{Items.TodayScheduledCount}}</div>
        </div>
        <div class="card-box-item box-bg-color3" ng-if="HasAccess('FrontOfficeDashboard', 'OPbilling')"
            ng-click="opbillings()">
            <div class="card-box-header">
                <div><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                <div translate="appointment.doctordashboard.opbillings.lbl"></div>
            </div>
            <div>{{Items.opbillings}}</div>
        </div>
        <div class="card-box-item box-bg-color4" ng-if="HasAccess('FrontOfficeDashboard', 'DirectBilling')"
            ng-click="directbilling()">
            <div class="card-box-header">
                <div> <i class="fa fa-usd" aria-hidden="true"></i></div>
                <div translate="appointment.doctordashboard.directbilling.lbl"></div>
            </div>
            <div>{{Items.directbilling}}</div>
        </div>
        <div class="card-box-item box-bg-color5" ng-if="HasAccess('FrontOfficeDashboard', 'LabBilling')"
            ng-click="labbilling()">
            <div class="card-box-header">
                <div><i class="fa fa-list" aria-hidden="true"></i></div>
                <div translate="appointment.doctordashboard.labbilling.lbl"></div>
            </div>
            <div>{{Items.labbilling}}</div>
        </div>
        <div class="card-box-item box-bg-color6" ng-if="HasAccess('FrontOfficeDashboard', 'Admissions')"
            ng-click="admissions()">
            <div class="card-box-header">
                <div><i class="fa fa-inr" aria-hidden="true"></i></div>
                <div translate="appointment.doctordashboard.admissions.lbl"></div>
            </div>
            <div>{{Items.admissions}}</div>
        </div>
        <div class="card-box-item box-bg-color7" ng-if="HasAccess('FrontOfficeDashboard', 'BedTransfer')"
            ng-click="bedtransfer()">
            <div class="card-box-header">
                <div><i class="fa fa-percent" aria-hidden="true"></i></div>
                <div translate="appointment.doctordashboard.bedtransfer.lbl"></div>
            </div>
            <div>{{Items.bedtransfer}}</div>
        </div>
        <div class="card-box-item box-bg-color8" ng-if="HasAccess('FrontOfficeDashboard', 'CurrentIpPatients')"
            ng-click="ippatient()">
            <div class="card-box-header">
                <div><i class="fa fa-briefcase" aria-hidden="true"></i></div>
                <div translate="appointment.doctordashboard.ippatient.lbl"></div>
            </div>
            <div>{{Items.ippatient}}</div>
        </div>
        <div class="card-box-item box-bg-color9" ng-if="HasAccess('FrontOfficeDashboard', 'FrontOfficeReports')"
            ng-click="reports()">
            <div class="card-box-header">
                <div><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                <div translate="appointment.doctordashboard.reports.lbl"></div>
            </div>
            <div>{{Items.reports}}</div>
        </div>
    </div>
</div>

<div class="col-sm-6">
    <table id="bannerdetails" style="margin-top: 20px;background: #5d9cec;color: #fff;">
        <tr>
            <td translate="Summary"></td>
        </tr>
    </table>
    <table id="bannerdetails">
        <tr>
            <td>Today Registrations</td>
            <td>{{Items.RegistrationCount}}</td>
        </tr>
        <tr>
            <td>Total Consultations</td>
            <td>{{Items.OPVisitCount}}</td>
        </tr>

        <tr>
            <td>Today Admitted</td>
            <td>{{Items.AdmittedCount}}</td>
        </tr>
        <tr>
            <td>Today Discharges</td>
            <td>{{Items.DischargeCount}}</td>
        </tr>
        <tr>
            <td>Total Occupancy(ER & IP)</td>
            <td>{{Items.TotalOccupancyCount}}</td>
        </tr>
        <tr>
            <td>Pending Discharges</td>
            <td>{{Items.PendingdischargeCount}}</td>
        </tr>
        <tr>
            <td>Present Occupancy</td>
            <td>{{Items.PresentOccupancyCount}}</td>
        </tr>
    </table>
</div>

<div class="fooder-bgs"></div>