<link href="app/css/regbilling.css" rel="stylesheet">
<style>
.form-group {
    height: 62px;
}
</style>
<div class="row">
    <div class="drhms-list-filter-head">
        <div class="col-sm-12">
            <div translate="Patient Registration Form"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-lg-3">
        <label class="col-sm-12 col-md-12 col-lg-12 control-label" for="tittle"
            translate="registration.quickregistration.tittle.lbl"></label>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <ui-select id="title" ng-model="item.TitleId" name="tittle" ng-change="fillGenderInfo()"
                tabindex="tabindexmap.patienttabindex" required>
                <ui-select-match>
                    {{$select.selected.Text | limitTo : 20 : 0}}
                    <span ng-if="$select.selected.Text.length>20">...</span>
                </ui-select-match>
                <ui-select-choices
                    repeat="lookupitem.Id as lookupitem in lookup.Title | filter: { Text: $select.search }">
                    <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="form-group col-lg-3 ng-required">
        <label class="col-sm-12 col-md-12 col-lg-12 control-label" for="patientname"
            translate="registration.quickregistration.patientname.lbl"></label>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <input type="text" class="form-control" name="patientname" ng-model="item.FirstName" placeholder="" required
                uppercase>
        </div>
    </div>
    <div class="form-group col-lg-3" ng-show="canShowApproxAge(item.TitleId)">
        <label class="col-sm-12 col-md-12 col-lg-12 control-label"
            translate="registration.fullregistration.approxage.lbl"></label>
        <div class="col-sm-12 col-md-12 col-lg-12 approxagediv">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <input type="text" class="form-control" ng-model="item.ApproxAgeDays" placeholder="Days"
                    ng-change="calculateDOB(item.ApproxAgeDays, 'days')">
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <input type="text" class="form-control" ng-model="item.ApproxAgeMonths" placeholder="Months"
                    ng-change="calculateDOB(item.ApproxAgeMonths, 'months')">
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <input type="text" class="form-control" ng-model="item.Age" placeholder="Years"
                    ng-change="calculateDOB(item.Age, 'years')">
            </div>
        </div>
    </div>
    <div class="form-group col-lg-3 age">        
        <div class="col-sm-6 col-md-6 col-lg-6">
            <label class="col-sm-12 control-label" for="dob" translate="registration.quickregistration.dob.lbl"></label>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <input type="text" class="form-control" name="dob" ng-date-object datepicker-options="datePickerOptions"
                    show-button-bar="{{datePickerOptions.showButtonBar}}"
                    uib-datepicker-popup="{{datePickerOptions.dateFormat}}"
                    placeholder="{{datePickerOptions.placeholder}}" ng-click="dobPopup = { opened: true }"
                    is-open="dobPopup.opened" ng-model="item.DOB" ng-change="calculateAge()" required>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <label class="col-sm-12 col-md-12 col-lg-12 control-label"
                translate="registration.quickregistration.age.lbl"></label>
            <div class="col-sm-12">
                <input type="text" class="form-control" name="age" ng-model="item.Age" placeholder=""
                    ng-change="calculateDOB(item.Age, 'years')">
            </div>
        </div>
    </div>
    <div class="form-group col-lg-3">
        <label class="col-sm-12 col-md-12 col-lg-12 control-label" for="gender"
            translate="registration.quickregistration.gender.lbl"></label>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <ui-select ng-model="item.GenderId" name="gender" required>
                <ui-select-match>
                    {{$select.selected.Text | limitTo : 20 : 0}}
                    <span ng-if="$select.selected.Text.length>20">...</span>
                </ui-select-match>
                <ui-select-choices
                    repeat="lookupitem.Id as lookupitem in lookup.Gender | filter: { Text: $select.search }">
                    <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="form-group col-lg-3">
        <label class="col-sm-12 col-md-12 col-lg-12 control-label"
            translate="registration.quickregistration.maritalstatus.lbl"></label>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <ui-select ng-model="item.MaritalStatusId" tabindex="-1">
                <ui-select-match>
                    {{$select.selected.Text | limitTo : 20 : 0}}
                    <span ng-if="$select.selected.Text.length>20">...</span>
                </ui-select-match>
                <ui-select-choices
                    repeat="lookupitem.Id as lookupitem in lookup.MaritalStatus | filter: { Text: $select.search }">
                    <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="form-group col-lg-3">
        <label class="col-sm-12 col-md-12 col-lg-12 control-label"
            translate="registration.quickregistration.religion.lbl"></label>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <ui-select ng-model="item.ReligionId" tabindex="-1">
                <ui-select-match>
                    {{$select.selected.Text | limitTo : 20 : 0}}
                    <span ng-if="$select.selected.Text.length>20">...</span>
                </ui-select-match>
                <ui-select-choices
                    repeat="lookupitem.Id as lookupitem in lookup.Religion | filter: { Text: $select.search }">
                    <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="form-group col-lg-3">
        <label class="col-sm-12 col-md-12 col-lg-12 control-label" for="nationality"
            translate="registration.quickregistration.nationality.lbl"></label>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <ui-select ng-model="item.NationalityId" name="nationality" tabindex="-1">
                <ui-select-match>
                    {{$select.selected.Text | limitTo : 20 : 0}}
                    <span ng-if="$select.selected.Text.length>20">...</span>
                </ui-select-match>
                <ui-select-choices
                    repeat="lookupitem.Id as lookupitem in lookup.Nationality | filter: { Text: $select.search }">
                    <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="form-group col-lg-3">
        <label class="col-sm-12 col-md-12 col-lg-12 control-label"
            translate="registration.quickregistration.nationalityid.lbl"></label>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <input type="text" class="form-control" name="nationalityid" tabindex="-1"
                ng-model="item.NationalityIdentifier" placeholder="">
        </div>
    </div>
    <div class="form-group col-lg-3">
        <label class="col-sm-12 col-md-12 col-lg-12 control-label"
            translate="registration.quickregistration.preferredlanguage.lbl"></label>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <ui-select ng-model="item.PreferredLanguageId" tabindex="-1">
                <ui-select-match>
                    {{$select.selected.Text | limitTo : 20 : 0}}
                    <span ng-if="$select.selected.Text.length>20">...</span>
                </ui-select-match>
                <ui-select-choices
                    repeat="lookupitem.Id as lookupitem in lookup.Language | filter: { Text: $select.search }">
                    <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="form-group col-lg-3">
        <label class="col-sm-12 col-md-12 col-lg-12 control-label"
            translate="registration.quickregistration.patienttype.lbl"></label>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <ui-select ng-model="item.PatientTypeId" tabindex="-1">
                <ui-select-match>
                    {{$select.selected.Text | limitTo : 20 : 0}}
                    <span ng-if="$select.selected.Text.length>20">...</span>
                </ui-select-match>
                <ui-select-choices
                    repeat="lookupitem.Id as lookupitem in lookup.PatientType | filter: { Text: $select.search }">
                    <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="form-group col-lg-3">
        <label class="col-sm-12 col-md-12 col-lg-12 control-label" for="landline"
            translate="registration.quickregistration.landline.lbl"></label>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <input type="text" class="form-control" ng-model="item.LandLine" placeholder="" ng-minlength="10"
                ng-maxlength="15" ng-pattern="/^\d+$/" ng-required="false">
        </div>
    </div>
    <div class="form-group col-lg-3">
        <label class="col-sm-12 col-md-12 col-lg-12 control-label" for="mobile"
            translate="registration.quickregistration.mobile.lbl"></label>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <input type="text" class="form-control" ng-model="item.Mobile" placeholder="" ng-minlength="10"
                ng-maxlength="15" ng-pattern="/^\d+$/" ng-required="false">
        </div>
    </div>
    <div class="form-group col-lg-3">
        <label class="col-lg-12 control-label" translate="registration.fullregistration.googleaddress.lbl"></label>
        <div class="col-lg-10">
            <input type="text" id="googleaddopt" ng-disabled="disablegoogleaddopt" class="form-control"
                gm-places-autocomplete="autocompleteOptions" ng-model="autocompleteModel" />
        </div>
        <div class="col-lg-1 col-md-1 col-lg-1">
            <input type="checkbox" name="googleaddressoption" class="custom-checkbox" tabindex="-1"
                ng-click="enablegoogleaddopt()" ng-model="chkgoogleaddopt">
        </div>
    </div>
    <address addressline1="item.AddressLine1" addressline2="item.AddressLine2" pincodeid="item.PinCodeId"
        pincode="item.Pincode" area="item.Area" city="item.City" cityid="item.CityId" state="item.State"
        stateid="item.StateId" country="item.Country" countryid="item.CountryId" class="upercase"></address>
    <div class="form-group col-lg-3">
        <label class="col-sm-12 col-md-12 col-lg-12 control-label"
            translate="registration.quickregistration.email.lbl"></label>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <input type="email" class="form-control" name="email" tabindex="-1" ng-model="item.Email" placeholder=""
                ng-required="false">
        </div>
    </div>
    <div class="form-group col-lg-3">
        <label class="col-sm-12 col-md-12 col-lg-12 control-label"
            translate="registration.quickregistration.commupref.lbl"></label>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <input type="checkbox" name="sms" class="custom-checkbox" tabindex="-1"
                ng-model="item.IsSmsCommunicationPreference">
        </div>
        <label class="col-sm-3 col-md-3 col-lg-3 control-label"
            translate="registration.quickregistration.sms.lbl"></label>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <input type="checkbox" name="comnemail" class="custom-checkbox" tabindex="-1"
                ng-model="item.IsEmailCommunicationPreference">
        </div>
        <label class="col-sm-3 col-md-3 col-lg-3 control-label"
            translate="registration.quickregistration.comnemail.lbl"></label>
    </div>
</div>

<div class="row">
    <div class="drhms-sub-header-border" translate="Upload & Image Preview">
    </div>
    <div class="col-sm-6">
        <div class="drhms-user_image" ng-show="!item.iswebcamphoto">
            <img class="patient-img drhms-img-thumbnail" tabindex="tabindexmap.patienttabindex"
                ng-show="!!currentcontext.file" ngf-thumbnail="currentcontext.file" />
            <img ng-show="!currentcontext.file && item.PhotoPath"
                data-ng-src="data:image/png;base64,{{currentcontext.Photo}}" tabindex="tabindexmap.patienttabindex"
                class="patient-img drhms-img-thumbnail" />
            <img ng-show="!currentcontext.file && !item.PhotoPath" src="app/img/main/img.jpg" tabindex="-1"
                class="drhms-img-thumbnail ">
        </div>
        <div class="drhms-webcam-pic" ng-show="item.iswebcamphoto">
            <img data-ng-src="data:image/png;base64,{{item.webcamphoto}}" tabindex="-1"
                class="patient-img drhms-img-thumbnail" />
        </div>
        <div class="drhms-outer_ilayer">
            <div class="drhms-profile-upload-btn">
                <input type="file" ng-disabled="SaveCompleted" ngf-select ng-model="currentcontext.file" tabindex="-1"
                    name="file" id="drhms-input-file" class="inputfile" ngf-max-size="200MB"
                    ng-change="photoFileChanged()" />
                <label for="file-1" class="drhms-upload-btn" ng-disabled="SaveCompleted" uib-tooltip="Upload"
                    tooltip-placement="bottom">
                    <span class="drhms-registration-btn">Upload</span>
                </label>
                <button type="button" class="drhms-webcam-btn" tabindex="-1" ng-click="openWebCam()"
                    uib-tooltip="webcam" tooltip-placement="bottom">
                    <span class="drhms-registration-btn">Web Camera</span>
                </button>
                <button type="button" class="drhms-clear-btn" tabindex="-1" ng-click="clearimage()" uib-tooltip="Clear"
                    tooltip-placement="bottom">
                    <span class="drhms-registration-btn">Remove</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="fooder-bgs">
    <div class="col-sm-12">
        <div class="pull-left footer_reg_align">
            <button class="btn pyr-color10 btn-sm" type="button" ng-click="backToList()">
                <i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;&nbsp;
                <span class="btn-fontsize" translate="common.backaction.lbl"></span>
            </button>
        </div>
        <div class="pull-right footer_reg_align">
            <button id="btnSaveApprove" type="button" class="draftbutton" translate="common.saveactivate-action.lbl"
                hotkey="{'alt+s': saveAndApprove}" ng-click="saveAndApprove()"></button>
            <button id="btnCancelForm" type="button"class="draftbutton" translate="Reject"></button>
        </div>
    </div>
</div>