<!DOCTYPE html>
<html lang="en">

<head>
    <title>Patient Services</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="app/css/patientservices.css">
</head>
<style>
.patientsearchprofilebg .table-uigrid.ui-grid .ui-grid-cell{min-width:20%;}.ui-grid-header-canvas,.ui-grid-header-cell-wrapper{width: 100% !important;}.patientsearchprofilebg .table-uigrid.ui-grid .ui-grid-cell{height:90px;}.table-uigrid.ui-grid .ui-grid-cell-contents {padding: 14px 7px;text-align: center;}.table-uigrid.ui-grid .ui-grid-column-menu-button{display: none;}.ui-grid-cell-contents.ng-binding.ng-scope,.ui-grid-cell-contents.ng-scope.ng-isolate-scope{margin: 17px auto;}@media (min-width: 1360px) {#patientsearchheight .ui-grid-viewport{height:200px ;min-height:200px;}}@media (min-width:1200px){#patientsearchheight .ui-grid-viewport{height: 195px ;min-height:150px;}}
</style>
    <header>
        <nav class="navbar navbar-default0">
            <div class="header">
                <div class="navbar-header col-sm-4 col-md-3">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="http://www.gloomsoft.com/">
                        <img src="app/img/patientservices/logo.png" alt="logo">
                    </a>
                    <!-- <h2>Patient Services</h2> -->
                </div>
                <div class="head col-sm-7 col-md-6">
                    <h2 class="bold text-center">PATIENT SERVICES</h2>
                </div>
                <div class="col-sm-1 col-md-3">
                    <button type="button" class="btn btn-primary btn-md pull-right logout" ng-click="logout()">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>Logout</button>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!--/.container-fluid -->
        </nav>
    </header>
   
    <body class="patientservices_bg">
    <div class="container pd0">
        <div class="col-sm-12 pd0 main_box search">
            <section>
                <form class="example">
                   <h3>Search MRN</h3>
                    <input type="text" placeholder="Search.." name="search" on-enter="getList()" ng-model="currentfilter.patientname">
                    <button type="submit"><i class="fas fa-search"></i></button>
                  </form>
            </section>
        </div>
        <!-- <div class="bodycontent clearfix">
            <div class="col-sm-6 button_content">
                <div class="">
                    <button type="button" class="btn btn-primary btn-lg" ng-click="newregistration()">New Registration
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                    <button type="button" class="btn btn-success btn-lg " ng-click="registeredpatients()">Registered Patients
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                    <button type="button" class="btn btn-danger btn-lg ">Book Appointments
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                    <button type="button" class="btn btn-warning btn-lg">Appointment Status
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </div>
            </div>
        </div> -->
    </div>
    <!-- <div class="back">
        <img class="img-responsive" src="app/img/patientservices/redo.png">
        <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Default text here</a>
        <button style="background: url(app/img/patientservices/redo.png)">back</button>
    </div> -->
   
</body>
<div class="container-fluid patientsearchprofilebg" id="patientsearchheight" ng-show="canShowGrid">

    <div ui-grid="vm.gridConfig" class="table-uigrid height-control"></div>
    <div class="fooder-bg apperance_footer">
        <div class="row">
            <ul uib-pagination total-items="vm.gridConfig.pagerObj.totalItems" items-per-page="vm.gridConfig.pagerObj.pageSize" start-index="vm.gridConfig.pagerObj.startIndex"
                ng-model="vm.gridConfig.pagerObj.currentPage" ng-change="getList()"></ul>
        </div>
    </div>
</div>
<div class="back clearfix" >
    <img class="img-responsive" ng-click="home()" src="app/img/patientservices/redo.png">
    <img class="img-responsive ps_home" ng-click="pshome()" src="app/img/patientservices/home.png">
    <!-- <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Default text here</a> -->
    <!-- <button style="background: url(app/img/patientservices/redo.png)">back</button> -->
</div>
<div class="footer">
    <footer class="container-fluid bg-4 text-center">
        <p>&copy &nbsp
            <a href="http://www.gloomsoft.com/">Gloomsoft Technologies</a>
        </p>
    </footer>
</div>

</html>