<link rel="stylesheet" href="app/css/drhms.css">
<style>
    button.draftbutton {
        margin-top: 27px;
    }

    div#mainresponsivetablecontrol {
        overflow: auto !important;
    }
</style>
<div class="row">
    <div class="drhms-filters">
        <div class="col-sm-12">
            <h4 translate="Billing Approval Request"></h4>
        </div>
    </div>
</div>
<div class="row">
    <form id="item_form" name="item_form" class="form-horizontal" role="form">
        <div class="form-group col-sm-3">
            <label class="col-sm-12" translate="billing.pharmacy-billdetails.fromdate.lbl"></label>
            <div class="col-sm-12">
                <input type="text" class="form-control" name="FromBillDate" ng-date-object
                    datetime-picker="{{datePickerOptions.dateTimeFormat}}" datepicker-append-to-body="true"
                    placeholder="{{datePickerOptions.placeholder}}" ng-click="FromBillDatePopup = { opened: true }"
                    is-open="FromBillDatePopup.opened" ng-model="currentfilter.FromBillDate">
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label class="col-sm-12" translate="billing.pharmacy-billdetails.todate.lbl"></label>
            <div class="col-sm-12">
                <input type="text" class="form-control" name="ToBillDate" ng-date-object
                    datetime-picker="{{datePickerOptions.dateTimeFormat}}" datepicker-append-to-body="true"
                    placeholder="{{datePickerOptions.placeholder}}" ng-click="ToBillDatePopup = { opened: true }"
                    is-open="ToBillDatePopup.opened" ng-model="currentfilter.ToBillDate">
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label class="col-sm-12" translate="billing.opbilling-list.patientsearch.lbl"></label>
            <div class="col-sm-12">
                <patientsearch controlid="'pid'" patientid="currentfilter.PatientId" name="txtpatientsearch"
                    patientinfo="selectedPatient" isdisabled="" filterconfig="patientfilterconfig"></patientsearch>
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label class="col-sm-12" translate="Bill Number"></label>
            <div class="col-sm-12">
                <input type="text" tabindex="-1" class="form-control" ng-model="currentfilter.BillNo" placeholder="">
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label class="col-sm-12" translate="Request Type"></label>
            <div class="col-sm-12">
                <react-component name="BillingRequestFilterScreen" props="{ part: 'requesttype', reactProps: reactProps, onAction: handleReactAction }"></react-component>
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label class="col-sm-12" translate="Status"></label>
            <div class="col-sm-12">
                <react-component name="BillingRequestFilterScreen" props="{ part: 'status', reactProps: reactProps, onAction: handleReactAction }"></react-component>
            </div>
        </div>
        <div class="form-group col-sm-3">
            <button class="draftbutton" ng-click="getList()">
                <!-- <i class="fas fa-search" aria-hidden="true"></i> -->
                <span translate="Fetch"></span>
            </button>
        </div>
    </form>
</div>
<div class="row">
    <form id="item_form" name="item_form" class="form-horizontal" role="form">
        <div class="table-control">
            <div class="bg-pattern">
                <react-component name="BillingRequestListScreen" props="{ reactProps: reactProps, onAction: handleReactAction }"></react-component>
            </div>
        </div>
    </form>
</div>