<div class="modal-header custom-modal-header">
    <div class="col-sm-10">
        <h4 class="modal-title custom-modal-title" translate="billing.opbilling-list.ipbilllist.lbl"></h4>
    </div>
    <div class="col-sm-2">
        <div class="filters">
            <img src="../../../../../assets/svg/close.svg" ng-click="cancelCallback()">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-4">
            <label class="col-sm-5 control-label filter-lbl" translate="billing.ip-insurancebill.fromdate.lbl"></label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="fromDate" ng-date-object
                    datetime-picker="{{datePickerOptions.dateTimeFormat}}" ng-change="getDetails()"
                    placeholder="{{datePickerOptions.placeholder}}" ng-click="fromDatePopup = { opened: true }"
                    is-open="fromDatePopup.opened" ng-model="currentfilter.FromDate">
            </div>
        </div>
        <div class="col-sm-4">
            <label class="col-sm-4 control-label filter-lbl" translate="billing.ip-insurancebill.todate.lbl"></label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="toDate" ng-date-object
                    datetime-picker="{{datePickerOptions.dateTimeFormat}}" ng-change="getDetails()"
                    placeholder="{{datePickerOptions.placeholder}}" ng-click="toDatePopup = { opened: true }"
                    is-open="toDatePopup.opened" ng-model="currentfilter.ToDate">
            </div>
        </div>
        <div class="col-sm-4">
            <label class="col-sm-5 control-label filter-lbl"
                translate="billing.package-assignment.serviceratecategory.lbl"></label>
            <div class="col-sm-7">
                <react-component name="IpBillListServiceCategoryScreen" props="{ reactProps: reactProps, onAction: handleReactAction }"></react-component>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <react-component name="IpBillListTableScreen" props="{ reactProps: reactProps, onAction: handleReactAction }"></react-component>
</div>
<div class="fooder-bgs">
    <div class="row">
        <label class="col-sm-3 control-label pull-left" translate="billing.consolidate.billamount.lbl"> :
            {{currentcontext.BillAmount | displaycurrency}}</label>
        <label class="col-sm-3 control-label pull-left" translate="billing.consolidate.discount.lbl"> :
            {{currentcontext.BillDiscount | displaycurrency}}</label>
        <label class="col-sm-3 control-label pull-left" translate="billing.consolidate.netamount.lbl"> :
            {{currentcontext.TotalNet | displaycurrency}}</label>
        <div class="col-sm-3">
            <button type="button" class="draftbutton" ng-click="load()"
                translate="billing.pharmacy-billdetails.loadbill.lbl" tabindex="-1"></button>
        </div>
    </div>
</div>