<link href="api/node_modules/morrisjs/morris.css" rel="stylesheet">
<link href="app/css/dashboard1.css" rel="stylesheet">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="app/js/waves.js"></script>
<style>
    .charts {
        width: 206px !important;
        height: 121px !important;
    }

    .col-md-4.col-sm-12.col-xs-12 .card {
        min-height: 27px !important;
        height: 292px;
    }

    .charts {
        width: 206px !important;
        height: 121px !important;
        position: relative;
        left: 44px;
    }

    #bannerdetails tr td:nth-child(odd) {
        background: #ffffff !important;
        color: #080364 !important;
    }

    td,
    th {
        padding: 0;
        border: unset !IMPORTANT;
        border-bottom: 1px solid gainsboro !important;
    }

    thead tr td span {
        color: black !IMPORTANT;
        font-weight: 600;
    }

    td {
        font-size: 12px;
        font-weight: 600;
    }

    #bannerdetails tr.totalcolor td {
        background-color: #f6abd3 !important;
    }

    .revenue-table tr.totalcolor {
        position: absolute;
        width: 100%;
        bottom: 0;
    }

    .revenue-table tr.totalcolor td {
        width: 153px;
    }

    .revenue-table {
        height: 365px;
        background: white;
        padding: 0;
    }

    .layout-fixed.aside-collapsed .revenue-table {
        height: 332px;
        background: white;
    }

    .revenue-table table#bannerdetails {
        width: 100% !important;
    }

    .layout-fixed.aside-collapsed .revenue-table tr.totalcolor td {
        width: 161px;
    }
</style>
<div class="page-wrapper" style="min-height: 601px;">
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Dashboard</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <!-- Column -->
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex no-block">
                                <div class="round align-self-center round-success"><i class="fas fa-user"></i></div>
                                <div class="m-l-10 align-self-center">
                                    <h3 class="m-b-0">{{FacilityInfo.encounter.opNewVisitCount}}</h3>
                                    <h5 class="text-muted m-b-0" translate="dashboard.newpatient.lbl"></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <!-- Column -->
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex no-block">
                                <div class="round align-self-center round-info"><i class="fas fa-user"></i></div>
                                <div class="m-l-10 align-self-center">
                                    <h3 class="m-b-0">{{FacilityInfo.encounter.opFollowUpVisitCount}}</h3>
                                    <h5 class="text-muted m-b-0" translate="dashboard.follow.lbl"></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <!-- Column -->
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex no-block">
                                <div class="round align-self-center round-danger"><i class="far fa-calendar-check"></i>
                                </div>
                                <div class="m-l-10 align-self-center">
                                    <h3 class="m-b-0">{{FacilityInfo.appointment.AppointmentCount}}</h3>
                                    <h5 class="text-muted m-b-0" translate="dashboard.appoitments.lbl"></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <!-- Column -->
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex no-block">
                                <div class="round align-self-center round-primary"><i class="far fa-calendar-times"></i>
                                </div>
                                <div class="m-l-10 align-self-center">
                                    <h3 class="m-b-0">{{FacilityInfo.appointment.AppointmentCount}}</h3>
                                    <h5 class="text-muted m-b-0" translate="dashboard.inactive.lbl"></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex no-block">
                                <div class="round align-self-center round-danger"><i class=" fas fa-user-plus"></i>
                                </div>
                                <div class="m-l-10 align-self-center">
                                    <h3 class="m-b-0">{{FacilityInfo.encounter.AdmissionCount}}</h3>
                                    <h5 class="text-muted m-b-0" translate="dashboard.admissions.lbl"></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex no-block">
                                <div class="round align-self-center round-warning"><i class="fas fa-user-times"></i>
                                </div>
                                <div class="m-l-10 align-self-center">
                                    <h3 class="m-b-0">{{FacilityInfo.encounter.DischargeCount}}</h3>
                                    <h5 class="text-muted m-b-0" translate="dashboard.discharges.lbl"></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex no-block">
                                <div class="round align-self-center round-success"><i class="fas fa-user-times"></i>
                                </div>
                                <div class="m-l-10 align-self-center">
                                    <h3 class="m-b-0">{{FacilityInfo.patient.DeseasedCount}}</h3>
                                    <h5 class="text-muted m-b-0" translate="dashboard.diseased.lbl"></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex no-block">
                                <div class="round align-self-center round-success"><i class="fas fa-users"></i></div>
                                <div class="m-l-10 align-self-center">
                                    <h3 class="m-b-0">{{FacilityInfo.newborn.NewBornCount}}</h3>
                                    <h5 class="text-muted m-b-0" translate="dashboard.newborn.lbl"></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Column -->
            </div>

            <div id="dash-board">

                <div class="col-sm-12 clearfix" style=" margin-top: 18px;">

                    <div class="col-sm-12 col-md-6 col-lg-6 info_table2 clearfix">
                        <table id="bannerdetails">
                            <thead>
                                <td><span translate="dashboard.Collection.lbl"></span></td>
                                <td class="cus-col tbl-header">
                                    <span translate="dashboard.cash.lbl"></span>
                                </td>
                                <td class="cus-col tbl-header">
                                    <span translate="dashboard.card.lbl"></span>
                                </td>
                                <td class="cus-col tbl-header">
                                    <span translate="dashboard.others.lbl"></span>
                                </td>
                                <td class="cus-col tbl-header">
                                    <span translate="dashboard.Total.lbl"></span>
                                </td>
                            </thead>
                            <tr ng-repeat="item in FacilityInfo.receipt" class="{{item.Key}}">
                                <td class="cus-col tbl-header {{item.Key}}"><span>{{item.Key}}</span></td>
                                <td><span>{{ item.Value.CashAmount | displaycurrency }}</span></td>
                                <td><span>{{ item.Value.CardAmount | displaycurrency }}</span></td>
                                <td><span>{{ item.Value.OtherAmount | displaycurrency }}</span></td>
                                <td><span>{{ item.Value.BillAmount | displaycurrency }}</span></td>
                            </tr>
                            <tr class="totalcolor">
                                <td class="cus-col tbl-header"><span translate="dashboard.Total.lbl"></span></td>
                                <td><span>{{ TotCashAmt | displaycurrency }}</span></td>
                                <td><span>{{ TotCardAmt | displaycurrency }}</span></td>
                                <td><span>{{ TotOtherAmt | displaycurrency }}</span></td>
                                <td><span>{{ TotAmt | displaycurrency }}</span></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 info_table2 clearfix revenue-table">
                        <!-- <div class="row page-header title col-sm-12" >
                       <h4 class="mt0"  translate="Revenue By Category"></h4>
                   </div> -->
                        <table id="bannerdetails">
                            <thead>
                                <td class="cus-col tbl-header cust_Particulars">
                                    <span translate="Revenue"></span>
                                </td>
                                <td class="cus-col tbl-header">
                                    <span translate="OP "></span>
                                </td>
                                <td class="cus-col tbl-header">
                                    <span translate="IP "></span>
                                </td>
                                <td class="cus-col tbl-header">
                                    <span translate="Total"></span>
                                </td>
                            </thead>
                            <tr ng-repeat="item in FacilityInfo.category" class="totalcolor ">
                                <td class=""><span class="">{{item.Key}}</span></td>
                                <td id="total_clr">{{ item.Value.OP | displaycurrency }}</td>
                                <td id="total_clr">{{ item.Value.IP | displaycurrency }}</td>
                                <td id="total_clr">{{ (item.Value.OP + item.Value.IP) | displaycurrency }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div id="dash-board">

                <div class="col-sm-12 clearfix" style=" margin-top: 18px;">
                    <div class="col-sm-12 col-md-6 col-lg-6 info_table">
                        <!-- <div class="row page-header title col-sm-12" >
                       <h4 class="mt0"  translate="dashboard.currentwardstatus.lbl"></h4>
                   </div> -->
                        <table id="bannerdetails">
                            <thead>
                                <td class="" style="width: 165px;">
                                    <span translate="Bed Occupancy"></span>
                                </td>
                                <td class="cus-col tbl-header tab2">
                                    <span translate="dashboard.available.lbl"></span>
                                </td>
                                <td class="cus-col tbl-header tab2">
                                    <span translate="dashboard.occupied.lbl"></span>
                                </td>
                                <td class="cus-col tbl-header tab2">
                                    <span translate="dashboard.other.lbl"></span>
                                </td>
                                <td class="cus-col tbl-header tab2">
                                    <span translate="Total"></span>
                                </td>
                            </thead>
                            <tbody>
                                <tr ng-repeat="ward in Wards">
                                    <td class="cus-col tbl-header"><span>{{ward.WardName}}</span></td>
                                    <td>{{ward.AvailableBeds}}</td>
                                    <td>{{ward.OccupiedBeds}}</td>
                                    <td>{{ward.OtherBeds}}</td>
                                    <td>{{ward.BedsCount}}</td>
                                </tr>
                                <!-- <tr ng-repeat="ward in Wards">
                                <td class="cus-col tbl-header"><span>{{ward.WardName}}</span></td>
                                <td>{{ward.BedsCount}}</td>
                                <td>{{ward.OccupiedBeds}}</td>
                                <td>{{ward.AvailableBeds}}</td>
                                <td>{{ward.OtherBeds}}</td>
                            </tr> -->
                                <tr ng-if="Wards.length>0" class="totalcolor">
                                    <td class="cus-col tbl-header cust_total0 ">
                                        <span><strong>Total</strong></span>
                                    </td>
                                    <td class="cus-col tbl-header cust_total0 ">
                                        <strong>{{wardtotal.AvailableBeds}}</strong>
                                    </td>
                                    <td class="cus-col tbl-header cust_total0 ">
                                        <strong>{{wardtotal.OccupiedBeds}}</strong>
                                    </td>
                                    <td class="cus-col tbl-header cust_total0 ">
                                        <strong>{{wardtotal.OtherBeds}}</strong>
                                    </td>
                                    <td class="cus-col tbl-header cust_total0 ">
                                        <strong>{{wardtotal.BedsCount}}</strong>
                                    </td>
                                </tr>
                                <tr ng-if="Wards.length==0">
                                    <td colspan="5">No Data Available</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Row -->
            <!-- .row -->
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><small class="float-right text-success"><i
                                        class="fa fa-sort-asc"></i>
                                    18% High then last month</small> New Patient</h5>
                            <div class="stats-row">
                                <div class="stat-item">
                                    <h6>Overall</h6>
                                    <b>80.40%</b>
                                </div>
                                <div class="stat-item">
                                    <h6>Montly</h6>
                                    <b>15.40%</b>
                                </div>
                                <div class="stat-item">
                                    <h6>Day</h6>
                                    <b>5.50%</b>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="charts">
                                <canvas id="myChartmulti" width="400" height="400"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><small class="float-right text-danger"><i
                                        class="fa fa-sort-desc"></i>
                                    18% less then last month</small>OP/IP Patients</h5>
                            <div class="stats-row">
                                <div class="stat-item">
                                    <h6>Overall</h6>
                                    <b>80.40%</b>
                                </div>
                                <div class="stat-item">
                                    <h6>Montly</h6>
                                    <b>15.40%</b>
                                </div>
                                <div class="stat-item">
                                    <h6>Day</h6>
                                    <b>5.50%</b>
                                </div>
                            </div>
                        </div>
                        <div id="sparkline9" class="minus-mar"><canvas width="346" height="130"
                                style="display: inline-block; width: 346.328px; height: 130px; vertical-align: top;"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><small class="float-right text-success"><i
                                        class="fa fa-sort-asc"></i>
                                    18% High then last month</small>Treatment</h5>
                            <div class="stats-row">
                                <div class="stat-item">
                                    <h6>Overall Growth</h6>
                                    <b>80.40%</b>
                                </div>
                                <div class="stat-item">
                                    <h6>Montly</h6>
                                    <b>15.40%</b>
                                </div>
                                <div class="stat-item">
                                    <h6>Day</h6>
                                    <b>5.50%</b>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="charts">
                                <canvas id="myChartop" width="400" height="400"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /.row -->
            <!--row -->
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Patients In</h5>
                            <ul class="list-inline text-center">
                                <li>
                                    <h5><i class="fa fa-circle m-r-5" style="color: #00bfc7;"></i>OPD</h5>
                                </li>
                                <li>
                                    <h5><i class="fa fa-circle m-r-5" style="color: #b4becb;"></i>ICU</h5>
                                </li>
                            </ul>
                            <canvas id="myChart" width="400" height="400"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Hospital Revenue</h5>
                            <ul class="list-inline text-center">
                                <li>
                                    <h5><i class="fa fa-circle m-r-5" style="color: #00bfc7;"></i>OPD</h5>
                                </li>
                                <li>
                                    <h5><i class="fa fa-circle m-r-5" style="color: #b4becb;"></i>ICU</h5>
                                </li>
                            </ul>
                            <canvas id="myCharts" width="400" height="400"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        var ctx = document.getElementById('myCharts').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [
                    {
                        label: '# of Votes',
                        data: [12, 19, 3, 5, 2, 3],
                        backgroundColor: [
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    },
                    {
                        label: '# of Votes',
                        data: [3, 6, 16, 9, 2, 20],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }
                ]
            },
        });

        var ctx = document.getElementById('myChartmulti').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Votes',
                    data: ["12", 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                interaction: {
                    mode: 'index',
                    intersect: false,
                },
                stacked: false,
                plugins: {
                    title: {
                        display: true,
                        text: 'Chart.js Line Chart - Multi Axis'
                    }
                },
                scales: {
                    y: {
                        type: 'linear',
                        display: true,
                        position: 'left',
                    },
                    y1: {
                        type: 'linear',
                        display: true,
                        position: 'right',

                        // grid line settings
                        grid: {
                            drawOnChartArea: false, // only want the grid lines for one axis to show up
                        },
                    },
                }
            },
        });


        var ctx = document.getElementById('myChartop').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [
                    {
                        label: '# of Votes',
                        data: [3, 6, 16, 9, 2, 20],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }
                ]
            },
        });
    </script>