<!--
  React bridge migration (HYBRID). 'header' (title + Add button) and
  'receiptno' (Receipt # search) mounts sandwich the native
  <autosearch> Guarantor widget (kept native, same business-search
  directive used untouched throughout this migration); 'dateandstatus'
  covers Receipt Date + Status. Results grid becomes
  ReceivedReceiptsListScreen, replacing <custom-table>; native
  pagination footer untouched. Confirmed dead code, not reproduced:
  $scope.GuarantorTypeChange is never wired to anything in this
  template (and references an undefined `SelectedGuarantorType`
  variable that would throw if it were ever called) -- left untouched
  in the .js file, simply never invoked.
-->
<div class="">
    <react-component name="ReceivedReceiptsFilterScreen" props="{ part: 'header', reactProps: reactProps, onAction: handleReactAction }"></react-component>
</div>
<div class="row">
    <react-component name="ReceivedReceiptsFilterScreen" props="{ part: 'receiptno', reactProps: reactProps, onAction: handleReactAction }"></react-component>
    <div class="form-group col-sm-3">
        <label class="col-sm-12 control-lable" translate="billing.claimmanagement.guarantorname.lbl"></label>
        <div class="col-sm-12">
            <autosearch itemid="currentfilter.GuarantorId" tabindex="tabindexmap.patienttabindex" iteminfo=""
            on-enter="getList()" rowdata="" config="vm.guarantorcontrolconfig" candisable=""
            itemchange="getList()" isrequired="true">
            </autosearch>
        </div>
    </div>
    <react-component name="ReceivedReceiptsFilterScreen" props="{ part: 'dateandstatus', reactProps: reactProps, onAction: handleReactAction }"></react-component>
</div>
<div class="fooder-bgs">
    <react-component name="ReceivedReceiptsListScreen" props="{ reactProps: reactProps, onAction: handleReactAction }"></react-component>
    <ul uib-pagination total-items="vm.gridConfig.pagerObj.totalItems" items-per-page="vm.gridConfig.pagerObj.pageSize"
        start-index="vm.gridConfig.pagerObj.startIndex" ng-model="vm.gridConfig.pagerObj.currentPage"
        ng-change="getList()"></ul>
</div>
