<div class="row page-header">
    <div class="col-sm-12" style="margin-bottom: 10px;">
        <h4 class="mt0" translate="Transferred File returns"></h4>
    </div>
</div>
<div class="row">
    <div class="drhms-list-filters">
        <div class="col-sm-3">
            <label class="col-sm-3" translate="Name"></label>
            <div class="col-sm-9">
                <div class="search">
                    <input type="text" id="pid" class="form-control" on-enter="getList()"
                        ng-model="currentfilter.PatientName" placeholder="NAME/MRN">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <label class="col-sm-3" translate="VisitNo"></label>
            <div class="col-sm-9">
                <div class="search">
                    <input type="text" id="pid" class="form-control" on-enter="getList()"
                        ng-model="currentfilter.VisitNo" placeholder="VisitNo">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <label class="col-sm-3" translate="Date"></label>
            <div class="col-sm-9">
                <div id="datepicker">
                    <input type="text" class="form-control" name="dateofbirth" ng-change="getList()"
                        datepicker-options="datePickerOptions" show-button-bar="{{datePickerOptions.showButtonBar}}"
                        uib-datepicker-popup="{{datePickerOptions.dateFormat}}"
                        placeholder="{{datePickerOptions.placeholder}}" ng-click="dateofbirthPopup = { opened: true }"
                        is-open="dateofbirthPopup.opened" ng-model="currentfilter.RequestDate">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <label class="col-sm-3" translate="bedmanagement-grid.filter_status.lbl"></label>
            <div class="col-sm-9">
                <react-component name="TransferredFileReturnsStatusFilterScreen" props="{ reactProps: reactPropsFilterContainer.reactProps, onAction: reactPropsFilterContainer.onAction }"></react-component>
            </div>
        </div>
    </div>
</div>
<react-component name="TransferredFileReturnsListScreen" props="{ reactProps: reactPropsListContainer.reactProps, onAction: reactPropsListContainer.onAction }"></react-component>
<div class="container-fluid" id="patientidentitiesheight">
    <div class="fooder-bgs">
        <div class="row">
            <ul uib-pagination total-items="vm.gridConfig.pagerObj.totalItems"
                items-per-page="vm.gridConfig.pagerObj.pageSize" start-index="vm.gridConfig.pagerObj.startIndex"
                ng-model="vm.gridConfig.pagerObj.currentPage" ng-change="getList()"></ul>
        </div>
    </div>
</div>