<style>
    .addnew-text span{color:#fff !important;}
</style>
<div class="modal-header custom-modal-header" ng-if="currentcontext.ismodal">
        <h4 class="col-sm-6 modal-title custom-modal-title" translate="Manage Payer Type"></h4>
        <div class="col-sm-6">
                <button type="button" class="btn btn-danger btn-sm pull-right" translate="x"
                    ng-click="cancelCallback()"></button>
            </div>
    </div>
<div ng-if="currentcontext.ismodal">
    <patientbanner patientid="currentcontext.patientid" delegatefn="setBannerDelegate(cmp)"></patientbanner>
</div>

<table id="bannerdetails">
        <tr>
            <td  translate="registration.guarantor-list.type.lbl"></td>
            <td>  <ui-select ng-model="currentfilter.guarantortype" ng-change="getList()" class="filter-combo">
                    <ui-select-match>
                        {{$select.selected.Text | limitTo : 20 : 0}}
                        <span ng-if="$select.selected.Text.length>20">...</span>
                    </ui-select-match>
                    <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.GuarantorType | filter: { Text: $select.search }">
                        <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select></td>
            <td translate="registration.guarantor-list.filter_status.lbl"></td>
            <td> <ui-select ng-model="currentfilter.status" ng-change="getList()" class="filter-combo">
                    <ui-select-match>
                        {{$select.selected.Text | limitTo : 8 : 0}}
                        <span ng-if="$select.selected.Text.length>8">...</span>
                    </ui-select-match>
                    <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.ActiveStatus | filter: { Text: $select.search }">
                        <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select></td>
        </tr>
    </table>
<!-- <div class="row filter-area">
    <div class="col-sm-12">
        <div class="col-sm-11">

            <div class="col-sm-12">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="col-sm-4 control-label" translate="registration.guarantor-list.type.lbl"></label>
                        <div class="col-sm-8">
                            <ui-select ng-model="currentfilter.guarantortype" ng-change="getList()" class="filter-combo">
                                <ui-select-match>
                                    {{$select.selected.Text | limitTo : 20 : 0}}
                                    <span ng-if="$select.selected.Text.length>20">...</span>
                                </ui-select-match>
                                <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.GuarantorType | filter: { Text: $select.search }">
                                    <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="col-sm-4 control-label filter-lbl" translate="registration.guarantor-list.filter_status.lbl"></label>
                        <div class="col-sm-8">
                            <ui-select ng-model="currentfilter.status" ng-change="getList()" class="filter-combo">
                                <ui-select-match>
                                    {{$select.selected.Text | limitTo : 8 : 0}}
                                    <span ng-if="$select.selected.Text.length>8">...</span>
                                </ui-select-match>
                                <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.ActiveStatus | filter: { Text: $select.search }">
                                    <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-1 padding-top5">
            <button class="btn bt-color2 btn-xs pull-right addnew-text" ng-if="canUpdatePatientInfo()" ng-click="addNew()" uib-tooltip="{{'registration.guarantor-list.guarantor.lbl'| translate}}" tooltip-placement="bottom" ng-if="!currentcontext.isFinalized">
                      <i class="fa fa-plus" aria-hidden="true"></i><strong class="btn-fontsize" translate="clinicalmaster.serviceitem-list.addnew.lbl"></strong>
          </button>
        </div>
    </div>
</div> -->

<!-- <div class="container-fluid" id="patientguarantorheight">
    <div ui-grid="vm.gridConfig" class="table-uigrid table-uigrid-tab" ng-if="currentcontext.canselectrow == false"></div>
    <div ui-grid="vm.gridConfig" class="table-uigrid table-uigrid-tab" ng-if="currentcontext.canselectrow == true" 
            ui-grid-selection></div> -->
            <custom-table config="vm.gridConfig"></custom-table>  
    <div class="fooder-bgs">
 <div class="row ">
            <div class="col-sm-12">
                    <!-- <div class="pull-left col-sm-2">
                        <button id="btnCancelForm" type="button" class="draftbutton"  ng-click="backToForm()"
                            translate="common.cancelaction.lbl"></button></div> -->
                    <!-- <div class="col-sm-10 col-md-10"> -->
                    <ul uib-pagination total-items="vm.gridConfig.pagerObj.totalItems" items-per-page="vm.gridConfig.pagerObj.pageSize" start-index="vm.gridConfig.pagerObj.startIndex"
                    ng-model="vm.gridConfig.pagerObj.currentPage" ng-change="getList()"></ul>
                    <!-- </div>  -->
            </div>
        </div>
    </div>
</div>