<link href="app/css/regbilling.css" rel="stylesheet">
<link rel="stylesheet" href="app/css/drhms.css">
<style>
    .token-num input {
        border-radius: 103px;
        width: 46px;
        height: 46px !important;
        text-align: center;
        font-size: 13px;
        color: #f05050;
    }

    .form-horizontal .form-group {
        height: 72px;
    }

    td.drhms-special-count {
        color: #f44336 !important;
    }

    .filters {
        margin: 5px auto;
    }
</style>
<div class="modal-header custom-modal-header">
    <div class="col-sm-6">
        <h4 class="modal-title custom-modal-title" translate="Visit Creation"></h4>
    </div>
    <div class="col-sm-6">
        <div class="filters">
            <img src="../../../../../assets/svg/close.svg" ng-click="cancelCallback()">
        </div>
    </div>
</div>
<div class="col-sm-12">
<react-component name="VisitCreateFormPatientHeader" props="{ reactProps: reactProps, onAction: handleReactAction }"></react-component>
</div>

<div class="row">
    <form id="item_form" name="item_form" class="form-horizontal" role="form" ng-submit="saveItem()">
        <div class="row">
            <div class="accordian-button">
                <div class="drhms-sub-header" translate="Visit"></div> <button type="button" class="drhms-past-visit"
                    ng-click="openPastVisit()" uib-tooltip="{{ 'Past Visits'}}" tooltip-placement="top">
                    <i class="fas fa-undo" aria-hidden="true"></i>
                </button>
            </div>
<react-component name="VisitCreateFormTopFields" props="{ reactProps: reactProps, onAction: handleReactAction }"></react-component>
            <div class="form-group col-sm-3">
                <label class="col-sm-12 control-label" for="doctor"
                    translate="registration.registrationcumvisit.doctor.lbl"></label>
                <div class="col-sm-12 autodrop" id="doctorview">

                    <autosearch class="auto-search" controlid="'DoctorId'" itemid="item.DoctorId"
                        tabindex="tabindexmap.patienttabindex" iteminfo="" rowdata="" name="'doctor'"
                        config="vm.doctorcontrolconfig" candisable="SaveCompleted" isrequired="true"
                        placeholder="'Doctor'"></autosearch>
                </div>
            </div>
<react-component name="VisitCreateFormMidFields" props="{ reactProps: reactProps, onAction: handleReactAction }"></react-component>
            <div class="form-group col-sm-3">
                <label class="col-sm-12 control-label" for="referredby"
                    translate="registration.registrationcumvisit.referredby.lbl"></label>
                <div class="col-sm-10" id="referral">
                    <autosearch itemid="item.ReferrerId" tabindex="24" iteminfo="" name="'referredby'" rowdata=""
                        config="vm.referralcontrolconfig" candisable="DisableReferral"
                        itemchange="referralChange($select.selected)" isrequired="true">
                    </autosearch>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn-add" tabindex="25" ng-click="addReferral()"
                        uib-tooltip="{{ 'registration.fullregistration.addnewref-tooltip.lbl' | translate }}"
                        tooltip-placement="top">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label class="col-sm-12 control-label" translate="Reason"></label>
                <div class="col-sm-10" id="reason">
                    <autosearch itemid="item.RemarkId" iteminfo="" rowdata="" config="vm.remarkcontrolconfig">
                    </autosearch>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn-add" tabindex="25" ng-click="addRemark()"
                        uib-tooltip="{{ 'Add New Reason'}}" tooltip-placement="top">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
<react-component name="VisitCreateFormLowerFields" props="{ reactProps: reactProps, onAction: handleReactAction }"></react-component>
        </div>
        <div class="row">
            <div class="accordion">
                <div class="item">
                    <div class="drhms-sub-header text" translate="registration.registrationcumvisit.visitinfo2.lbl">
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="icon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                    </svg>
                    <div class="hidden-box">
                        <react-component name="VisitCreateFormBillingSection" props="{ reactProps: reactProps, onAction: handleReactAction }"></react-component>
                    </div>
                </div>
            </div>
        </div>
        <div class="fooder-bgs">
            <div class="row">
                <react-component name="VisitCreateFormFooter" props="{ reactProps: reactProps, onAction: handleReactAction }"></react-component>
            </div>
        </div>
    </form>
</div>

<script>
    const iconUpDown = document.querySelectorAll(".icon");
    iconUpDown.forEach((icon) => {
        icon.addEventListener("click", (e) => {
            icon.classList.toggle("icon-rotate");
            icon.parentElement.classList.toggle("open");
        });
    });

</script>

<!-- <div class="unhide-content">
    <h4 style="width:90%;display: inline-block;margin:0px;padding:10px;color:#164360 !important;"
        translate="registration.registrationcumvisit.visitinfo2.lbl">
    </h4>
    <button type="button" onclick="myFunction1(this)" class="btn btn-info" data-toggle="collapse"
        data-target="#demo">
        <i class="fa fa-chevron-up"></i>
    </button>
</div>
<script>
    function myFunction1(x) {
        x.classList.toggle("fa fa-chevron-down");
    }
</script> -->